<div class="animated slideInLeft">
  <mat-card class="mb-20">
    <mat-card-content>
      <mat-card-title>
        {{ title | uppercase }}
        <i color="warn" [ngClass]="{ 'fa fa-cog fa-spin': loadingData }"></i>
      </mat-card-title>

      <section class="header-section">
        <div class="row">
          <!-- Date pickers for From and To dates -->
          <div class="col">
            <mat-form-field class="example-full-width">
              <input
                matInput
                [min]="minDate"
                [max]="maxDate"
                [matDatepicker]="picker0"
                [(ngModel)]="startDate"
                placeholder="From"
                readonly
                (ngModelChange)="onDateChange()"
              />
              <mat-datepicker-toggle matSuffix [for]="picker0"></mat-datepicker-toggle>
              <mat-datepicker #picker0></mat-datepicker>
            </mat-form-field>
          </div>
          <div class="col">
            <mat-form-field class="example-full-width">
              <input
                matInput
                [min]="minDate"
                [max]="maxDate"
                [matDatepicker]="picker1"
                [(ngModel)]="endDate"
                placeholder="To"
                readonly
                (ngModelChange)="onDateChange()"
              />
              <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
              <mat-datepicker #picker1></mat-datepicker>
            </mat-form-field>
          </div>
          <div class="col">
            <mat-form-field class="example-full-width">
              <mat-label>Select Zone</mat-label>
              <mat-select [(value)]="selectedZone" (selectionChange)="onZoneChange($event)">
                <mat-option *ngFor="let zone of Zones" [value]="zone.id">
                  {{ zone.name }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="col">
            <mat-form-field class="example-full-width">
              <mat-label>Select Region</mat-label>
              <mat-select [(value)]="selectedRegion" (selectionChange)="onSelectChange()">
                <mat-option *ngFor="let region of Regions" [value]="region.id">
                  {{ region.name }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="col">
            <mat-form-field class="example-full-width">
              <mat-label>Select Rm</mat-label>
              <mat-select [(value)]="selectedSupervisor" (selectionChange)="onSelectChange()">
                <mat-option *ngFor="let supervisor of Supervisors" [value]="supervisor.id">
                  {{ supervisor.name }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>

        <div class="col">
          <div class="button-container">
            <button mat-raised-button color="primary" class="summary-button" (click)="getSummeryDetail()">Get Summary</button>
            <button mat-raised-button color="primary" class="summary-button" (click)="openInNewTab('/app-stock-issue-to-rm')">Add Stock</button>
            <button mat-raised-button color="primary" class="summary-button" (click)="openInNewTab('/app-stock-return-from-rm')">Return Stock</button>
          </div>
        </div>
      </section>
    </mat-card-content>
  </mat-card>
</div>
  
<div *ngIf="filteredItems.length > 0">
  <table class="table table-hover mb-0 custom-table">
    <thead>
      <tr>
        <th scope="col">
          #
          <!-- <i *ngIf="sortBy === 'index'" class="material-icons arrow" [ngClass]="{'asc': sortOrder === 'asc', 'desc': sortOrder === 'desc'}">
            arrow_upward
          </i> -->
        </th>
        <th scope="col" (click)="sortByField('username')">
          Supervisor
          <i *ngIf="sortBy === 'username'"class="material-icons arrow material-icons-arrow" [ngClass]="{'asc': sortOrder === 'asc', 'desc': sortOrder === 'desc'}">
            arrow_upward
          </i>
        </th>
        <th scope="col" (click)="sortByField('visit_date')">
          Date
          <i *ngIf="sortBy === 'visit_date'" class="material-icons arrow material-icons-arrow" [ngClass]="{'asc': sortOrder === 'asc', 'desc': sortOrder === 'desc'}">
            arrow_upward
          </i>
        </th>
        <th scope="col" (click)="sortByField('issuance')">
          Issuance
          <i *ngIf="sortBy === 'issuance'" class="material-icons arrow material-icons-arrow" [ngClass]="{'asc': sortOrder === 'asc', 'desc': sortOrder === 'desc'}">
            arrow_upward
          </i>
        </th>
        <th scope="col" (click)="sortByField('return_value')">
          Return
          <i *ngIf="sortBy === 'return_value'" class="material-icons arrow material-icons-arrow" [ngClass]="{'asc': sortOrder === 'asc', 'desc': sortOrder === 'desc'}">
            arrow_upward
          </i>
        </th>
        <th scope="col" (click)="sortByField('lost')">
          Lost
          <i *ngIf="sortBy === 'lost'" class="material-icons arrow material-icons-arrow" [ngClass]="{'asc': sortOrder === 'asc', 'desc': sortOrder === 'desc'}">
            arrow_upward
          </i>
        </th>
        <th scope="col" (click)="sortByField('cash_collected')">
          Cash Collected
          <i *ngIf="sortBy === 'cash_collected'" class="material-icons arrow material-icons-arrow" [ngClass]="{'asc': sortOrder === 'asc', 'desc': sortOrder === 'desc'}">
            arrow_upward
          </i>
        </th>
        <th scope="col" (click)="sortByField('balance')">
          Balance
          <i *ngIf="sortBy === 'balance'" class="material-icons arrow material-icons-arrow" [ngClass]="{'asc': sortOrder === 'asc', 'desc': sortOrder === 'desc'}">
            arrow_upward
          </i>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of filteredItems; let x = index">
        <th scope="row">{{ x + 1 }}</th>
        <td>{{ item.username }}</td>
        <td>{{ formatDate(item.visit_date) }}</td>
        <td class="clickable" (click)="goToEvaluation(item.id, item.visit_date)">{{ item.issuance }}</td>
        <td class="clickable" (click)="goToEvaluation1(item.id, item.visit_date)">{{ item.return_value }}</td>
        <td>{{ item.lost }}</td>
        <td>{{ item.cash_collected }}</td>
        <td>{{ item.balance }}</td>
      </tr>
    </tbody>
  </table>
</div>


  