.clickable {
    cursor: pointer;
    color: blue;
    text-decoration: underline;
  }
  /* Styles for button container */
  .button-container {
    display: flex;
    /* gap: 10px;  */
    margin-top: 10px;
  }
  
  .button-container .summary-button {
    margin-right: 10px; /* Space between buttons */
  }
  tr > th {
    cursor: pointer;
  }
  .material-icons-arrow {
    font-size: 18px; /* Adjust size if necessary */
    vertical-align: middle;
    display: none; /* Hidden by default */
  }
  
  /* Display sorting arrow when a column is sorted */
  .material-icons-arrow.asc {
    display: inline-block;
    transform: rotate(180deg); /* Arrow pointing upwards */
  }
  
  .material-icons-arrow.desc {
    display: inline-block;
    transform: rotate(0deg); /* Arrow pointing downwards */
  }
  
  
  /* .summary-button-container {
   margin-right: 500px;
    margin-top: 10px;
  }

  .summary-button {
    margin-left: 250px; 
  } */
  
  /* .summary-button {
    margin-left: 50px; 
  } */