.clickable {
    cursor: pointer;
    color: blue;
    text-decoration: underline;
  }
  /* Styles for button container */
  .button-container {
    display: flex;
    /* gap: 10px;  */
    margin-top: 10px;
  }
  
  .button-container .summary-button {
    margin-right: 10px; /* Space between buttons */
  }

  
  /* .summary-button-container {
   margin-right: 500px;
    margin-top: 10px;
  }

  .summary-button {
    margin-left: 250px; 
  } */
  
  /* .summary-button {
    margin-left: 50px; 
  } */