/* Add this CSS to change modal color to lemonchiffon */
/* .lemon-modal {
  background-color: rgb(238, 137, 5);
} */
/* .lemon-modal {
    z-index: 1050; 
  } */
  
  .lemon-modal-content
  
  /* Add any additional styling as needed */
  .lemon-modal .modal-header {  
    border-bottom: 1px solid #fff; /* Optional: Example border style */
  }
  
  /* Adjust other styles as needed for a consistent look */
  body {
    margin:0;
    background-color:#191919;
    min-height:100vh;
    display:flex;
    align-items:center;
    justify-content:center;
    font-family:Helvetica,Sans-serif;
  }
  a {
    text-decoration:none;
    /* color:#FFF; */
  }
  .rainbow-button {
    width: 53px;
    height: 58px;
    background-image: linear-gradient(90deg, #810b9e 0%, #eb4375 49%, #FC4F4F 80%, #000000 100%);
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    font-size: 12px; /* Adjust the font size as needed */
    font-weight: bold;
    text-decoration: none; /* Remove underlines from the link */
    color: #fff; /* Set text color to white or any suitable color */
    box-sizing: border-box; /* Include padding and border in element's total width and height */
    padding: 8px; /* Adjust padding as needed */
  }
  
  .rainbow-button:hover {
    animation: slidebg 2s linear infinite;
  }
  
  @keyframes slidebg {
    to {
      background-position: 53px; /* Adjust background position to match button width */
    }
  }
  
  
  /* survey-monkey.component.scss */
  
  .header {
  background-color: #ffffff;
  /* color: #ffffff; */
  padding: 10px;
  }
  
  .section-title {
  font-size: 1.5em;
  margin-bottom: 10px;
  }
  
  .question-container {
  border: 1px solid hsl(0, 15%, 81%);
  margin-bottom: 15px;
  padding: 15px;
  }
  
  .question {
  font-weight: bold;
  margin-bottom: 10px;
  /* background-color: #f5ee92; */
  }
  
  .answer-label {
  font-weight: bold;
  margin-right: 5px;
  /* background-color: #f5ee92; */
  }
  
  .answer-input {
  margin-top: 10px;
  }    
  button{
    border-radius: 5px
  }
  pop {
    background-color: rgb(4, 245, 164);
    color: rgb(226, 178, 20);
  }
  .custom-table {
    background-color: #ffffff; /* Your desired background color */
    /* Add any additional styling as needed */
    font-family: sans-serif;
    table-layout: inherit;
  }
  
  /* Override Bootstrap styles for striped rows */
  /* .custom-table tbody tr:nth-of-type(odd) {
    background-color:rgb(233, 233, 233)
   
  } */
  
  /* Override Bootstrap styles for bordered cells */
  .custom-table td, .custom-table th {
    border-color: #ecf1f7; /* Your desired border color */
  }
  /* tr.hover-effect-active:hover {
    background-color: rgb(235, 19, 19) !important; /* Color for active row */
   */
  
  /* tr.hover-effect-inactive:hover {
    background-color: rgb(9, 219, 9) !important; /* Color for inactive row */
   */
  /* Add this style to your CSS */
  select {
  position: relative;
  }
  /* CSS for table headers */
  th {
  font-size: 16px; /* Adjust the font size for table headers */
  }
  
  /* CSS for table rows */
  tr {
  font-size: 14px; /* Adjust the font size for table rows */
  }
  
  /* .inactive-background {
  background-color: rgb(167, 62, 62);
  }
  tr.inactive-background {
  background-color: rgb(167, 62, 62) !important;
  } */
  
  select option {
  position: relative;
  bottom: 0;
  }
  /* Add these styles to your CSS file */
  
  .switch {
  position: relative;
  display: inline-block;
  width: 30px;
  height: 20px;
  }
  
  .switch input {
  opacity: 0;
  width: 0;
  height: 0;
  }
  
  .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
  }
  
  .slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
  }
  
  input:checked + .slider {
  background-color: #2196F3;
  }
  
  input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
  }
  
  
  
  