<div class="animated slideInLeft">
    <mat-card class="mb-20" style="padding-top: 1px; padding-bottom: 1px">
      <mat-card-content>
  
        <section class="example-section">
          <!-- <ng-container *ngIf="projectType=='PGWS_LHR'||projectType=='PG_RDT'||projectType=='PG_DALDA'||projectType=='PG_UAE'||projectType=='PGWS_IRAQ'"> -->
          <mat-form-field
          *ngIf="supervisorList.length > 0"
          class="example-margin mr-10-IMP"
        >
          <mat-select
            placeholder="Supervisor List"
            name="list"
            [(ngModel)]="selectedSupervisor"
            (ngModelChange)="getSupervisorAttendanceList()"
          >
            <ng-container *ngFor="let list of supervisorList">
              <mat-option [value]="list">{{ list.fullName }}</mat-option>
            </ng-container>
          </mat-select>
        </mat-form-field>
  
        <mat-form-field class="example-margin mr-10-IMP">
          <mat-select
            placeholder="{{ labels.zoneLabel }}"
            name="zone"
            [(ngModel)]="selectedZone"
            (ngModelChange)="zoneChange()"
          >
            <mat-option [value]="zone" *ngFor="let zone of zones">{{
              zone.title
            }}</mat-option>
          </mat-select>
        </mat-form-field>
  
        <mat-form-field
            *ngIf="regions.length > 0 && selectedZone.id !== -1"
            class="example-margin mr-10-IMP"
          >
            <mat-select
              placeholder="{{ labels.regionLabel }}"
              name="region"
              [(ngModel)]="selectedRegion"
              (ngModelChange)="getSupervisorAttendanceList()"
            >
              <mat-option [value]="region" *ngFor="let region of regions">{{
                region.title
              }}</mat-option>
            </mat-select>
          </mat-form-field>
  
        <mat-form-field
            *ngIf="stores.length > 0"
            class="example-margin mr-10-IMP"
          >
            <mat-select
              placeholder="Shops"
              name="storeType"
              [(ngModel)]="selectedStore"
              (ngModelChange)="getSupervisorAttendanceList()"
            >
              <mat-option [value]="-1">ALL</mat-option>
              <mat-option [value]="store" *ngFor="let store of stores">{{
                store.title
              }}</mat-option>
            </mat-select>
          </mat-form-field>
  
          <mat-form-field class="example-full-width mr-10-IMP">
            <input
              matInput
              [min]="minDate"
              [max]="maxDate"
              [matDatepicker]="picker0"
              [(ngModel)]="startDate"
              placeholder="Choose a start date"
              (ngModelChange)="getSupervisorAttendanceList()"
              readonly
            />
            <mat-datepicker-toggle
              matSuffix
              [for]="picker0"
            ></mat-datepicker-toggle>
            <mat-datepicker #picker0></mat-datepicker>
          </mat-form-field>
          <mat-form-field class="example-full-width mr-10-IMP">
            <input
              matInput
              [min]="minDate"
              [max]="maxDate"
              [matDatepicker]="picker1"
              [(ngModel)]="endDate"
              placeholder="Choose a end date"
              (ngModelChange)="getSupervisorAttendanceList()"
              readonly
            />
            <mat-datepicker-toggle
              matSuffix
              [for]="picker1"
            ></mat-datepicker-toggle>
            <mat-datepicker #picker1></mat-datepicker>
          </mat-form-field>
  
          <!-- <div class="modal-footer">
            <button
                mat-raised-button
                class="mat-primary fill text-sm"
                (click)="showinsertSuperAttendenceModal(form.value)"
              >
              Add New
              </button>
          </div> -->
  
        </section>
      </mat-card-content>
    </mat-card>
  </div>

  <div
  class="example-section mb-20"
  style="text-align: end"
  *ngIf="supervisorAttendanceList.length > 0"
>
<button
class="btn btn-danger mr-10-IMP"
title="Click to verify attendance"
(click)="verifyAttendance()"
[disabled]="selectedIds.length === 0"
>
<i [ngClass]="{ 'fa fa-spinner fa-spin': loadingVerifyButton }"></i>
Verify ({{ selectedIds?.length }})
</button>
</div>
  
  <ng-container *ngIf="supervisorAttendanceList.length > 0">
    <div class="animated slideInLeft">
      <mat-card class="mb-20" style="border-top: 1px solid #afafaf">
        <mat-card-content>
          <section class="example-section">
            <table class="table table-hover">
              <thead>
                <tr>
                  <th>
                    <mat-checkbox
                      color="primary"
                      (change)="checkUncheckAll($event)"
                      #isAllChecked
                    >
                    </mat-checkbox>
                  </th>
                  <th (click)="sortIt('Date')" style="cursor: pointer">
                    Date
                    <i class="material-icons arrow material-icons-arrow">
                      {{ getArrowType("Date") }}
                    </i>
                  </th>
                  <!-- <th (click)="sortIt('Cluster')" style="cursor: pointer">
                    Cluster
                    <i class="material-icons arrow material-icons-arrow">
                      {{ getArrowType("Cluster") }}
                    </i>
                  </th> -->
                  <th (click)="sortIt('City')" style="cursor: pointer">
                    City
                    <i class="material-icons arrow material-icons-arrow">
                      {{ getArrowType("City") }}
                    </i>
                  </th>
                  <th (click)="sortIt('Supervisor')" style="cursor: pointer">
                    TL Name
                    <i class="material-icons arrow material-icons-arrow">
                      {{ getArrowType("Supervisor") }}
                    </i>
                  </th>
                  <th (click)="sortIt('BA_Code')" style="cursor: pointer">
                    Commando Code
                    <i class="material-icons arrow material-icons-arrow">
                      {{ getArrowType("BA_Code") }}
                    </i>
                  </th>
                  <th (click)="sortIt('BA_Name')" style="cursor: pointer">
                    Commando Name
                    <i class="material-icons arrow material-icons-arrow">
                      {{ getArrowType("BA_Name") }}
                    </i>
                  </th>
                  <!-- <th (click)="sortIt('Store_Name')" style="cursor: pointer">
                    Route Name
                    <i class="material-icons arrow material-icons-arrow">
                      {{ getArrowType("Store_Name") }}
                    </i>
                  </th> -->
                  <th
                    (click)="sortIt('BA_Status')"
                    style="cursor: pointer"
                  >
                    Commando Status
                    <i class="material-icons arrow material-icons-arrow">
                      {{ getArrowType("BA_Status") }}
                    </i>
                  </th>
                  <th (click)="sortIt('Reason')" style="cursor: pointer">
                    Reason
                    <i class="material-icons arrow material-icons-arrow">
                      {{ getArrowType("Reason") }}
                    </i>
                  </th>
                  <th
                    (click)="sortIt('Remarks')"
                    style="cursor: pointer"
                  >
                    Remarks
                    <i class="material-icons arrow material-icons-arrow">
                      {{ getArrowType("Remarks") }}
                    </i>
                  </th>

                  <th
                    (click)="sortIt('is_verfied')"
                    style="cursor: pointer"
                  >
                    Verified
                    <i class="material-icons arrow material-icons-arrow">
                      {{ getArrowType("is_verfied") }}
                    </i>
                  </th>
                  <!-- <th></th> -->
                </tr>
              </thead>
  
              <tbody *ngIf="supervisorAttendanceList.length > 0">
                <!-- | paginate: { itemsPerPage: 15, currentPage: p } -->
                <tr
                  *ngFor="
                    let item of supervisorAttendanceList | orderBy: sortBy:sortOrder
                  "
                >
                <td>
                  <!-- <input type="checkbox" name="trades" [checked]="item.selected" (change)="singleCheckbox($event)"> -->
                  <mat-checkbox
              color="primary"
              name="{{ item?.full_name }}"
              id="{{ item?.surveyor_id }}"
              (change)="checkUncheckSingle(checked, item, i)"
              #checked
            >
            </mat-checkbox>
                </td>
                  <td>{{ item?.Date }}</td>
                  <!-- <td>{{ item?.Cluster }}</td> -->
                  <td>{{ item?.City }}</td>
                  <td>{{ item?.Supervisor }}</td>
                  <!-- <td style="color:blue;cursor:pointer" [routerLink]="['/dashboard/evaluation/list']" [queryParams]="{ surveyorId: item.id,startDate: modifyDate(startDate),endDate: modifyDate(startDate)}">
                                      {{item?.captured_shops}}</td> -->
                  <td
                    style="color: blue; cursor: pointer"
                    (click)="showupdateSuperAttendenceModal(item)"
                  >
                    {{ item?.BA_Code }}
                  </td>
                  <td>{{ item?.BA_Name }}</td>
                  <!-- <td>{{ item?.Store_Name }}</td> -->
                  <td>
                    {{ item?.BA_Status }}
                  </td>
                  <td>{{ item?.Reason }}</td>
                  <td>
                    {{ item?.Remarks }}
                  </td>
                  <td>
                    {{ item?.is_verified }}
                  </td>
                  <!-- <td *ngIf="item?.captured_shops==item?.evaluated_shops">
                                      <img src="./assets/images/Checked-Checkbox-icon.png" alt="">
                                  </td>
                                  <td *ngIf="item?.captured_shops!=item?.evaluated_shops">
                                      <img src="./assets/images/Unchecked-Checkbox-icon.png" alt="">
                                  </td> -->
                </tr>
              </tbody>
            </table>
          </section>
        </mat-card-content>
      </mat-card>
    </div>
  </ng-container>
  <div class="row" *ngIf="loading">
    <div class="col-md-12 text-center">
      <div class="img-center">
        <img src="assets/images/basicloader.gif" alt="" srcset="" />
      </div>
    </div>
  </div>
  
  <div class="row" *ngIf="!loading && supervisorAttendanceList.length == 0">
    <div class="col-md-12 text-center">
      <div class="alert alert-info">
        <p>No Data Found</p>
      </div>
    </div>
  </div>
  
  <div
    bsModal
    #updateSuperAttendenceModal="bs-modal"
    class="modal fade"
    tabindex="-1"
    role="dialog"
    aria-labelledby="dialog-child-name"
  >
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <!-- <h4 id="dialog-child-name" class="modal-title pull-left">{{selectedShop.shop_title}}</h4> -->
          <button
            type="button"
            class="close pull-right"
            aria-label="Close"
            (click)="hideupdateSuperAttendenceModal()"
          >
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
  
        <form [formGroup]="form" enctype="multipart/form-data">
          <div class="modal-body">
            <!-- <input type="hidden" formControlName="shopId" /> -->
           <div class="row">
              <!-- <div class="form-group col-md-8">
                <label for="title">Contract Amount</label>
                <input
                  type="number"
                  class="form-control"
                  id="amount"
                  formControlName="contractAmount"
                />
                <div
                  *ngIf="
                    form.controls.contractAmount.errors &&
                    (form.controls.contractAmount.touched || form.controls.contractAmount.dirty)
                  "
                >
                  <mat-error
                    *ngIf="form.hasError('required', 'contractAmount')"
                    class="invalid-feedback"
                  >
                    Valid Contract Amount is Required.
                  </mat-error>
                </div>
              </div> -->
  
              <div class="form-group col-md-4">
                <label for="Remark">Remark</label>
                <select
                  formControlName="remarkId"
                  class="form-control"
                  placeholder="Remark List"
                  name="list"
                  [(ngModel)]="selectedRemark"
                 
                >
                  <option [value]="list.id" *ngFor="let list of remarkList">{{list.description}}</option>
                </select>
                <div
                  *ngIf="
                    form.controls.remarkId.errors &&
                    (form.controls.remarkId.touched || form.controls.remarkId.dirty)
                  "
                >
                  <mat-error
                    *ngIf="form.hasError('required', 'remarkId')"
                    class="invalid-feedback"
                  >
                    Valid Status is Required.
                  </mat-error>
                </div>
              </div>

              <div class="form-group col-md-4">
                <label for="Reason">Reason</label>
                <input
                  formControlName="reason"
                  class="form-control"
                  placeholder="Reason"
                  name="input"
                  [(ngModel)]="selectedReason"
                 
                >
                <div
                  *ngIf="
                    form.controls.reason.errors &&
                    (form.controls.reason.touched || form.controls.reason.dirty)
                  "
                >
                  <mat-error
                    *ngIf="form.hasError('required', 'reason')"
                    class="invalid-feedback"
                  >
                    Valid Status is Required.
                  </mat-error>
                </div>
              </div>
            </div>
          
  
            <!-- <div class="row">
              <div class="form-group col-md-6">
                <label for="example-datetime-local-input">Start Date</label>
                  <input class="form-control" type="date" formControlName="startDate">
                <div
                  *ngIf="
                    form.controls.startDate.errors &&
                    (form.controls.startDate.touched || form.controls.startDate.dirty)
                  "
                >
                  <mat-error
                    *ngIf="form.hasError('required', 'startDate')"
                    class="invalid-feedback"
                  >
                    Valid Start Date is required.
                  </mat-error>
                </div>
              </div>
                <div class="form-group col-md-6">
                  <label for="example-date-input">End Date</label>
                    <input class="form-control" type="date" formControlName="endDate">
                <div
                  *ngIf="
                    form.controls.endDate.errors &&
                    (form.controls.endDate.touched || form.controls.endDate.dirty)
                  "
                >
                  <mat-error
                    *ngIf="form.hasError('required', 'endDate')"
                    class="invalid-feedback"
                  >
                    Valid End Date is required.
                  </mat-error>
                </div>
              </div>--> 
          </div>
          <div class="modal-footer">
  
            <button
              (click)="updateAttendance(form.value)"
              class="mr-1"
              mat-raised-button
              color="primary"
            >
              <i [ngClass]="{ 'fa fa-spinner fa-spin': loadingModalButton }"></i>
              Update
            </button>
          </div>
  
        </form>
  
      </div>
    </div>
  </div>
  
  
  <div
    bsModal
    #insertSuperAttendenceModal="bs-modal"
    class="modal fade"
    tabindex="-1"
    role="dialog"
    aria-labelledby="dialog-child-name"
  >
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <!-- <h4 id="dialog-child-name" class="modal-title pull-left">{{selectedShop.shop_title}}</h4> -->
          <button
            type="button"
            class="close pull-right"
            aria-label="Close"
            (click)="hideinsertSuperAttendenceModal()"
          >
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
  
        <form [formGroup]="form" enctype="multipart/form-data">
          <div class="modal-body">
            <!-- <input type="hidden" formControlName="shopId" /> -->
           <div class="row">
            <div class="form-group col-md-4">
              <label for="Shop">Shop</label>
              <select
                formControlName="shopId"
                class="form-control"
                placeholder="Shop List"
                name="list"
                [(ngModel)]="selectedShop"
               
              >
                <option [value]="list.id" *ngFor="let list of shopList">{{list.title}}</option>
              </select>
              <div
                *ngIf="
                  form.controls.shopId.errors &&
                  (form.controls.shopId.touched || form.controls.shopId.dirty)
                "
              >
                <mat-error
                  *ngIf="form.hasError('required', 'shopId')"
                  class="invalid-feedback"
                >
                  Valid Status is Required.
                </mat-error>
              </div>
            </div>
  
  
            <div class="form-group col-md-4">
              <label for="Remark">Remark</label>
              <select
                formControlName="remarkId"
                class="form-control"
                placeholder="Remark List"
                name="list"
                [(ngModel)]="selectedRemark"
               
              >
                <option [value]="list.id" *ngFor="let list of remarkList">{{list.description}}</option>
              </select>
              <div
                *ngIf="
                  form.controls.remarkId.errors &&
                  (form.controls.remarkId.touched || form.controls.remarkId.dirty)
                "
              >
                <mat-error
                  *ngIf="form.hasError('required', 'remarkId')"
                  class="invalid-feedback"
                >
                  Valid Status is Required.
                </mat-error>
              </div>
            </div>
  
              <div class="form-group col-md-4">
                <label for="Surveyor">BA</label>
                <select
                  formControlName="surveyorId"
                  class="form-control"
                  placeholder="Surveyor List"
                  name="list"
                  [(ngModel)]="selectedSurveyor"
                 
                >
                  <option [value]="list.id" *ngFor="let list of surveyors">{{list.fullName}}</option>
                </select>
                <div
                  *ngIf="
                    form.controls.surveyorId.errors &&
                    (form.controls.surveyorId.touched || form.controls.surveyorId.dirty)
                  "
                >
                  <mat-error
                    *ngIf="form.hasError('required', 'surveyorId')"
                    class="invalid-feedback"
                  >
                    Valid Status is Required.
                  </mat-error>
                </div>
              </div>
  
  
              <!-- <div class="form-group col-md-4">
                <label for="Supervisor">Supervisor</label>
                <select
                  formControlName="supervisorId"
                  class="form-control"
                  placeholder="Supervisor List"
                  name="list"
                  [(ngModel)]="selectedSupervisor"
                 
                >
                  <option [value]="list.id" *ngFor="let list of supervisors">{{list.fullName}}</option>
                </select>
                <div
                  *ngIf="
                    form.controls.supervisorId.errors &&
                    (form.controls.supervisorId.touched || form.controls.supervisorId.dirty)
                  "
                >
                  <mat-error
                    *ngIf="form.hasError('required', 'supervisorId')"
                    class="invalid-feedback"
                  >
                    Valid Status is Required.
                  </mat-error>
                </div>
              </div> -->
  
  
              <div class="form-group col-md-6">
                <label for="example-datetime-local-input">Start Date</label>
                  <input class="form-control" type="date" formControlName="startDate">
                <div
                  *ngIf="
                    form.controls.startDate.errors &&
                    (form.controls.startDate.touched || form.controls.startDate.dirty)
                  "
                >
                  <mat-error
                    *ngIf="form.hasError('required', 'startDate')"
                    class="invalid-feedback"
                  >
                    Valid Start Date is required.
                  </mat-error>
                </div>
              </div>
  
            </div>
          </div>
          <div class="modal-footer">
  
            <button
              (click)="addAttendance(form.value)"
              class="mr-1"
              mat-raised-button
              color="primary"
            >
              <i [ngClass]="{ 'fa fa-spinner fa-spin': loadingModalButton }"></i>
              Save
            </button>
          </div>
  
        </form>
  
      </div>
    </div>
  </div>
  