/* .onetrust-pc-dark-filter.ot-fade-in {
  z-index: 9999 !important; 
  background: rgba(0, 0, 0, 0.5) !important; 
  pointer-events: none; 
}

#onetrust-banner-sdk {
  z-index: 10000 !important; 
  pointer-events: auto; 
}

.onetrust-pc-dark-filter {
  position: fixed !important;
  top: auto !important;
  bottom: auto !important;
  left: auto !important;
  right: auto !important;
  width: auto !important;
  height: auto !important;
  pointer-events: none;
} */

:host {
  height: 50px; /* Adjust the height as per your design */
  width: 100%;
  position: fixed;  /* Change from absolute to fixed */
  bottom: 0;
  left: 0;
  background-color: #d3d3d3;
  padding: 0.5rem; /* Adjust padding as needed */
  text-align: center;
  z-index: 1000;
}

.footer-content {
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.ot-sdk-show-settings {
  /* Initial styling */
  padding: 20px 20px;
  font-size: 16px;
  /* background-color: white !important;  */
  /* color: #f44336 !important;  border: none; */
  cursor: pointer;
  color: #68b631;
  border:1px solid #68b631;
  /* border: red !important; */
}

.ot-sdk-show-settings:hover {
  /* Hover effect */
  /* background-color: red !important; */
  /* color: white !important;  */
  /* border: red !important; */

}
