<!-- NO SUMMARY AVAILABLE IN SOME PROJECTS SCOPE -->
<div class="animated slideInLeft">
  <mat-card class="mb-20">
    <mat-card-content>
      <mat-card-title>
        {{ title | uppercase }}
        <i color="warn" [ngClass]="{ 'fa fa-cog fa-spin': loadingData }"></i>
      </mat-card-title>

      <section class="example-section">
        <mat-form-field class="example-margin mr-10-IMP">
          <mat-select
            placeholder="{{ labels.zoneLabel }}"
            name="zone"
            [(ngModel)]="selectedZone"
            (ngModelChange)="zoneChange()"
          >
            <mat-option [value]="zone" *ngFor="let zone of zones">{{
              zone.title
            }}</mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field
          *ngIf="regions.length > 0 && selectedZone.id !== -1"
          class="example-margin mr-10-IMP"
        >
          <mat-select
            placeholder="{{ labels.regionLabel }}"
            name="region"
            [(ngModel)]="selectedRegion"
            (ngModelChange)="getStores(); getDashboardData()"
          >
            <mat-option [value]="region" *ngFor="let region of regions">{{
              region.title
            }}</mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field
          *ngIf="stores.length > 0"
          class="example-margin mr-10-IMP"
        >
          <mat-select
            placeholder="{{ labels.storeLabel }}"
            name="storeType"
            [(ngModel)]="selectedStore"
            (ngModelChange)="getDashboardData()"
          >
            <mat-option [value]="-1">ALL</mat-option>
            <mat-option [value]="store" *ngFor="let store of stores">{{
              store.title
            }}</mat-option>
          </mat-select>
        </mat-form-field>
        <ng-container *ngIf="projectType == 'NFL'">
          <mat-form-field
            *ngIf="brandList.length > 0"
            class="example-margin mr-10-IMP"
          >
            <mat-select
              placeholder="{{ labels.categoryLabel }}"
              name="brands"
              [(ngModel)]="selectedBrand"
              (ngModelChange)="getDashboardData()"
            >
              <mat-option [value]="-1" selected>All</mat-option>
              <mat-option [value]="brand" *ngFor="let brand of brandList">{{
                brand.title
              }}</mat-option>
            </mat-select>
          </mat-form-field>
        </ng-container>

        <mat-form-field class="example-full-width mr-10-IMP">
          <input
            matInput
            [min]="minDate"
            [max]="maxDate"
            [matDatepicker]="picker0"
            [(ngModel)]="startDate"
            (ngModelChange)="getDashboardData()"
            placeholder="Choose a start date"
            readonly
          />
          <mat-datepicker-toggle
            matSuffix
            [for]="picker0"
          ></mat-datepicker-toggle>
          <mat-datepicker #picker0></mat-datepicker>
        </mat-form-field>
        <mat-form-field class="example-full-width mr-10-IMP">
          <input
            matInput
            [min]="minDate"
            [max]="maxDate"
            [matDatepicker]="picker1"
            [(ngModel)]="endDate"
            (ngModelChange)="getDashboardData()"
            placeholder="Choose a end date"
            readonly
          />
          <mat-datepicker-toggle
            matSuffix
            [for]="picker1"
          ></mat-datepicker-toggle>
          <mat-datepicker #picker1></mat-datepicker>
        </mat-form-field>
      </section>
    </mat-card-content>
  </mat-card>

  <div class="row web-view">
    <!-- <p>web view</p> -->
    <div class="col-md-12">
      <mat-card>
        <mat-card-header style="justify-content: flex-end"> </mat-card-header>
        <mat-card-content>
          <div class="row justify-content-center">
            <div class="col-md-2">
              <div>
                <app-skeleton-loader
                  *ngIf="loadingData"
                  Cwidth="145"
                  Cheight="100"
                >
                </app-skeleton-loader>
                <app-stat
                  *ngIf="!loadingData"
                  [bgClass]="'info'"
                  [icon]="'list_alt'"
                  [count]="dashboardData?.total_cc"
                  [label]="'Count'"
                ></app-stat>
              </div>
            </div>

            <div class="col-md-2">
              <div>
                <app-skeleton-loader
                  *ngIf="loadingData"
                  Cwidth="145"
                  Cheight="100"
                >
                </app-skeleton-loader>
                <app-stat
                  *ngIf="!loadingData"
                  [bgClass]="'primary'"
                  [icon]="'assignment'"
                  [count]="dashboardData?.TotalInterceptions"
                  [label]="'Interceptions'"
                ></app-stat>
              </div>
            </div>

            <div class="col-md-2">
              <div>
                <app-skeleton-loader
                  *ngIf="loadingData"
                  Cwidth="145"
                  Cheight="100"
                >
                </app-skeleton-loader>
                <app-stat
                  *ngIf="!loadingData"
                  [bgClass]="'success'"
                  [icon]="'thumb_up'"
                  [count]="dashboardData?.Successful"
                  [label]="'Successful'"
                ></app-stat>
              </div>
            </div>

            <div class="col-md-2">
              <div>
                <app-skeleton-loader
                  *ngIf="loadingData"
                  Cwidth="145"
                  Cheight="100"
                >
                </app-skeleton-loader>
                <app-stat
                  *ngIf="!loadingData"
                  [bgClass]="'danger'"
                  [icon]="'thumb_up'"
                  [count]="dashboardData?.successful_percentage"
                  [label]="'Successful %'"
                ></app-stat>
              </div>
            </div>

            <div class="col-md-2">
              <div>
                <app-skeleton-loader
                  *ngIf="loadingData"
                  Cwidth="145"
                  Cheight="100"
                >
                </app-skeleton-loader>
                <app-stat
                  *ngIf="!loadingData"
                  [bgClass]="'danger'"
                  [icon]="'thumb_up'"
                  [count]="dashboardData?.Successful_Per_Day"
                  [label]="'Successful/Day'"
                ></app-stat>
              </div>
            </div>
            <ng-container *ngIf="projectType != 'NDN'">
              <div class="col-md-2">
                <div>
                  <app-skeleton-loader
                    *ngIf="loadingData"
                    Cwidth="145"
                    Cheight="100"
                  >
                  </app-skeleton-loader>
                  <app-stat
                    *ngIf="!loadingData"
                    [bgClass]="'purple'"
                    [icon]="'local_atm'"
                    [count]="dashboardData?.Unit_Sale"
                    [label]="'Unit Sale'"
                  ></app-stat>
                </div>
              </div>

              <div class="col-md-2">
                <div>
                  <app-skeleton-loader
                    *ngIf="loadingData"
                    Cwidth="145"
                    Cheight="100"
                  >
                  </app-skeleton-loader>
                  <app-stat
                    *ngIf="!loadingData"
                    [bgClass]="'warn'"
                    [icon]="'local_atm'"
                    [count]="dashboardData?.Unit_Sale_Per_Day"
                    [label]="'Unit Sale/Day'"
                  ></app-stat>
                </div>
              </div>
            </ng-container>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </div>

  <ng-container *ngIf="tableData.length > 0">
    <div class="animated slideInLeft">
      <mat-card class="mb-20" style="border-top: 1px solid #afafaf">
        <mat-card-content>
          <section class="example-section">
            <table class="table table-hover">
              <thead>
                <tr>
                  <th
                    scope="col"
                    class="text-center"
                    (click)="sortIt('m_code')"
                    style="cursor: pointer"
                  >
                    {{ resourcePlaceHolder }} Code
                    <i class="material-icons arrow material-icons-arrow">
                      {{ getArrowType("m_code") }}
                    </i>
                  </th>
                  <th
                    scope="col"
                    class="text-center"
                    (click)="sortIt('full_name')"
                    style="cursor: pointer"
                  >
                    {{ resourcePlaceHolder }} Name
                    <i class="material-icons arrow material-icons-arrow">
                      {{ getArrowType("full_name") }}
                    </i>
                  </th>
                  <th
                    scope="col"
                    class="text-center"
                    (click)="sortIt('shop_title')"
                    style="cursor: pointer"
                  >
                    Store Name
                    <i class="material-icons arrow material-icons-arrow">
                      {{ getArrowType("shop_title") }}
                    </i>
                  </th>
                  <th
                    scope="col"
                    class="text-center"
                    (click)="sortIt('WorkingDays')"
                    style="cursor: pointer"
                  >
                    Working Days
                    <i class="material-icons arrow material-icons-arrow">
                      {{ getArrowType("WorkingDays") }}
                    </i>
                  </th>
                  <th
                    scope="col"
                    class="text-center"
                    (click)="sortIt('TotalInterception')"
                    style="cursor: pointer"
                  >
                    Total Interceptions
                    <i class="material-icons arrow material-icons-arrow">
                      {{ getArrowType("TotalInterception") }}
                    </i>
                  </th>
                  <th
                    scope="col"
                    class="text-center"
                    (click)="sortIt('Successful')"
                    style="cursor: pointer"
                  >
                    Successful Interceptions
                    <i class="material-icons arrow material-icons-arrow">
                      {{ getArrowType("Successful") }}
                    </i>
                  </th>
                  <th
                    scope="col"
                    class="text-center"
                    (click)="sortIt('successful_percentage')"
                    style="cursor: pointer"
                  >
                    Successful %
                    <i class="material-icons arrow material-icons-arrow">
                      {{ getArrowType("successful_percentage") }}
                    </i>
                  </th>
                  <th
                    scope="col"
                    class="text-center"
                    (click)="sortIt('successful_per_day')"
                    style="cursor: pointer"
                  >
                    Avg Successful
                    <i class="material-icons arrow material-icons-arrow">
                      {{ getArrowType("successful_per_day") }}
                    </i>
                  </th>
                  <ng-container *ngIf="projectType != 'NDN'">
                    <th
                      scope="col"
                      class="text-center"
                      (click)="sortIt('TotalSale')"
                      style="cursor: pointer"
                    >
                      Unit Sold
                      <i class="material-icons arrow material-icons-arrow">
                        {{ getArrowType("TotalSale") }}
                      </i>
                    </th>

                    <th
                      scope="col"
                      class="text-center"
                      (click)="sortIt('unit_sale_per_day')"
                      style="cursor: pointer"
                    >
                      Avg Unit Sold
                      <i class="material-icons arrow material-icons-arrow">
                        {{ getArrowType("unit_sale_per_day") }}
                      </i>
                    </th>
                  </ng-container>
                </tr>
              </thead>

              <tbody *ngIf="tableData.length > 0">
                <!-- | paginate: { itemsPerPage: 15, currentPage: p } -->
                <tr
                  *ngFor="let item of tableData | orderBy: sortBy:sortOrder"
                  (click)="goToNewPage(item)"
                >
                  <td class="text-center" style="cursor: pointer">
                    {{ item?.m_code }}
                  </td>
                  <td class="text-center" style="cursor: pointer">
                    {{ item?.full_name }}
                  </td>
                  <td class="text-center" style="cursor: pointer">
                    {{ item?.shop_title }}
                  </td>
                  <td class="text-center" style="color: blue; cursor: pointer">
                    {{ item?.WorkingDays }}
                  </td>
                  <td class="text-center" style="color: blue">
                    {{ item?.TotalInterception }}
                  </td>

                  <td class="text-center" style="color: blue">
                    {{ item?.Successful }}
                  </td>

                  <td class="text-center" style="color: blue">
                    {{ item?.successful_percentage }}
                  </td>
                  <td class="text-center" style="color: blue">
                    {{ item?.successful_per_day }}
                  </td>
                  <ng-container *ngIf="projectType != 'NDN'">
                    <td class="text-center" style="color: blue">
                      {{ item?.TotalSale }}
                    </td>
                    <td class="text-center" style="color: blue">
                      {{ item?.unit_sale_per_day }}
                    </td>
                  </ng-container>
                </tr>
              </tbody>
            </table>
            <!-- (click)="goToNewPage(item)" -->
          </section>
        </mat-card-content>
      </mat-card>
    </div>
  </ng-container>
</div>

<div class="row" *ngIf="loading">
  <div class="col-md-12 text-center">
    <div class="img-center">
      <img src="assets/images/basicloader.gif" alt="" srcset="" />
    </div>
  </div>
</div>
