<div bsModal #formslistModal="bs-modal" class="modal fade lemon-modal" tabindex="-1" role="dialog"
    aria-labelledby="two-button-modal" [config]="{ backdrop: 'static', keyboard: false }" tabindex="-1" role="dialog"
    aria-labelledby="dialog-child-name">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h1 id="dialog-child-name" class="modal-title">SELECT OR ADD NEW SCREEN</h1>

                <!-- Add New Button (Right Side, Under the Title) -->
                <button type="button" class="close" aria-label="Close" (click)="closeFormList()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <mat-card>
                <!-- Table of options -->
                <button type="button" class="btn btn-outline-warning pull-right" (click)="showaddModal()">Add
                    New</button>
                <table class="table table-striped mb-0 custom-table">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Title</th>
                            <th scope="col">type</th>
                            <th scope="col">Lastupdated</th>
                            <th scope="col">Options</th>
                            <th scope="col">Status</th>
                            <th scope="col">Swap</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of obj; let x = index" [class.inactive-background]="item.active === 'N'"
                            [class.hover-effect-active]="hoveredRowIndex === x && item.active === 'Y'"
                            [class.hover-effect-inactive]="hoveredRowIndex === x && item.active === 'N'">
                            <th scope="row">{{ x + 1 }}</th>
                            <td><a role="button" (click)="gettingformProperties(item)"
                                    style="cursor: pointer; color: rgb(12, 107, 107);">{{ item.title }}</a></td>
                            <td>{{ item.ft }}</td>
                            <td>{{ item.formatted_last_updated }}</td>
                            <td>
                                <a role="button" (click)="getforminfo(item)"
                                    style="cursor: pointer; color: rgb(12, 107, 107);">{{ item.field_count }}</a>
                            </td>
                            <td>
                                <h6 *ngIf="item.active==='Y'">Active</h6>
                                <h6 *ngIf="item.active==='N'">Inactive</h6>
                            </td>
                            <td>
                                <div class="button-container">
                                    <button *ngIf="item.active === 'Y'" type="button"
                                        class="btn btn-outline-danger round-button" (click)="deActivateForm(item)"
                                        (mouseenter)="setHoveredRowIndex(x)" (mouseleave)="setHoveredRowIndex(null)">
                                        Deactivate
                                    </button>
                                    <button *ngIf="item.active === 'N'" type="button"
                                        class="btn btn-outline-success round-button" (click)="activateForm(item)"
                                        (mouseenter)="setHoveredRowIndex(x)" (mouseleave)="setHoveredRowIndex(null)">
                                        Activate
                                    </button>
                                </div>

                            </td>
                        </tr>
                    </tbody>
                </table>
            </mat-card>
        </div>
    </div>
</div>

<div *ngIf="toggelView">
    <div>
        <div *ngIf="formtitle">
            <mat-card class="header">
                <mat-card-title>
                    {{ formtitle }}
                </mat-card-title>
            </mat-card>
        </div>
        <div>
            <!-- <button type="button" class="btn btn-outline-warning pull-right" (click)="showaddModal()">Add NewForm</button> -->
            <button type="button" class="btn btn-outline-info pull-right" (click)="showAddnewfeild()">Add
                NewFeild</button>
            <button type="button" class="btn btn-outline-dark pull-right" (click)="ngOnInit()">Formlist</button>
            <button type="button" class="btn btn-outline-warning" (click)="viewFormPattern()">ToggleView</button>

            <!-- <div class="table-wrapper-scroll-y my-custom-scrollbar"></div> -->
            <table class="table table-striped mb-0 custom-table">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Title</th>
                        <th scope="col">Type</th>
                        <!-- <th scope="col">Edit</th> -->
                        <th scope="col">Options</th>
                        <th scope="col">Order</th>
                        <th scope="col">ChangePosition</th>
                        <th scope="col">Status</th>
                        <th scope="col">swap Status</th>

                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of ql; let x = index" [class.inactive-background]="item.status === 'N'"
                        [class.hover-effect-active]="item.status === 'N'"
                        [class.hover-effect-inactive]=" item.status === 'Y'">
                        <th scope="row">{{ x + 1 }}</th>
                        <td><a role="button" (click)="gettingFieldInfo(item)"
                                style="cursor: pointer; color: blue;">{{item.fieldtitle}}</a>
                        </td>
                        <td>{{item.field_type}}</td>
                        <!-- <td><button type="button" class="btn btn-warning" [disabled]="item.field_type === 'text_field' || item.field_type === 'date' || item.field_type === 'rating' || item.field_type === 'exist_question' || item.field_type === 'form' || item.field_type === 'image'"
                (click)="gettingFieldValue(item)">Edit</button>
            </td> -->
                        <td>
                            <a role="button"
                                [disabled]="item.field_type === 'text_field' || item.field_type === 'date' || item.field_type === 'rating' || item.field_type === 'exist_question' || item.field_type === 'form' || item.field_type === 'image'"
                                (click)="gettingFieldValue(item)"
                                style="cursor: pointer; color: blue;">{{item.options}}</a>
                        </td>

                        <td>{{item.order_id}}</td>
                        <!-- <td>
              <a (click)="changefeildPosition(item, 'up')" class="rainbow-button" role="button" alt="Add">Add</a>
            </td> -->
                        <td>
                            <div class="button-container">
                                <button type="button" class="btn btn btn-outline-warning round-button"
                                    [disabled]="item.status === 'N'" (click)="changefeildPosition(item, 'up')">
                                    🔼
                                </button>
                                <button type="button" class="btn btn btn-outline-warning round-button"
                                    [disabled]="item.status === 'N'" (click)="changefeildPosition(item, 'down')">
                                    🔽
                                </button>
                            </div>
                        </td>
                        <td>
                            <h6 *ngIf="item.status === 'Y'">Active</h6>
                            <h6 *ngIf="item.status === 'N'">Inactive</h6>
                        </td>

                        <td>
                            <div class="button-container">
                                <button *ngIf="item.status === 'Y'" type="button"
                                    class="btn btn-outline-danger round-button" (click)="deActivateField(item)">
                                    Deactivate
                                </button>
                                <!-- <image></image> -->

                                <!-- <input  *ngIf="item.status === 'Y'" class="form-check-input" type="image" role="switch" id="flexSwitchCheckChecked" checked (click)="deActivateField(item)">
                  <input *ngIf="item.status === 'N'" type="button" class="form-check-input"  role="button" id="flexSwitchCheckDefault" (click)="activateField(item)"> -->



                                <button *ngIf="item.status === 'N'" type="button"
                                    class="btn btn-outline-success round-button" (click)="activateField(item)">
                                    Activate
                                </button>
                            </div>
                        </td>

                    </tr>

                </tbody>
            </table>
        </div>
    </div>
</div>
<div bsModal #FvModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="two-button-modal"
    [config]="{ backdrop: 'static', keyboard: false }">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h1 id="dialog-child-name" class="modal-title">{{fieldTitle}}</h1>
                <button type="button" class="close pull-right" aria-label="Close" (click)="hideFv()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <mat-card>
                <i [ngClass]="{ 'fa fa-cog fa-spin': loadingData }"></i>

                <!-- Table of options -->
                <ng-container *ngIf="ff && ff.length > 0">
                    <button class="btn btn-outline-info btn-sm" (click)="sc(ff, 'add')">Add</button>
                    <table class="table table-bordered table-striped mb-0 custom-table">
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Title</th>
                                <!-- <th scope="col">Status</th> -->
                                <th scope="col">OrderId</th>
                                <th scope="col">Child</th>
                                <th scope="col">Delete</th>
                                <th scope="col">Logic</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of ff; let x = index">
                                <th scope="row">{{ x + 1 }}</th>
                                <td>{{ item.title }}</td>
                                <td>{{ item.order_id }}</td>
                                <!-- <td><h6 *ngIf="item.active==='Y'">Active</h6>
                  <h6 *ngIf="item.active==='N'">Inactive</h6></td> -->
                  <td>
                    <h6 *ngIf="item.child !== null && item.child !== undefined">{{ item.child }}</h6>
                    <h6 *ngIf="item.child === null || item.child === undefined">Null</h6>
                </td>
                
                                <td>
                                    <button class=" btn btn-danger btn-sm"
                                        (click)="editFeildValue(item,'delete')">Delete</button>
                                </td>
                                <td>
                                    <button class="btn btn-outline-info btn-sm" [disabled]="item.child === null"
                                        (click)="logicFieldList(item)">Apply</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </ng-container>

                <ng-container *ngIf="!ff || ff.length === 0">
                    <p>No items available.</p>
                    <!-- Optionally display a message or handle the case where ff is empty -->
                </ng-container>
            </mat-card>

        </div>
    </div>
</div>
<div bsModal #AddModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="two-button-modal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">ADD SCREEN</h4>
                <button type="button" class="close pull-right" aria-label="Close" (click)="closeaddModal()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <!-- Add title here -->
                <input type="text" class="form-control" placeholder="Enter your Form Name" [(ngModel)]="ft">
            </div>
            <div class="modal-body" *ngIf="ft">
                <div class="form-row">
                    <div class="form-group">
                        <label for="dataType">Select Data Type:</label>
                        <select id="dataType" [(ngModel)]="selectedFormType" name="dataType" class="form-control" >
                            <option disabled [selected]="!selectedFormType" value="">Select Data Type</option>
                            <option *ngFor="let field of formtypes" [value]="field.title">{{ field.title }}</option>
                        </select>
                    </div>
            
                    <div class="form-group">
                        <label for="campaign">Select Campaign:</label>
                        <select id="campaign" class="form-control" [(ngModel)]="selectedCampaignId">
                            <option disabled [selected]="!selectedCampaignId" value="">Select Campaign</option>
                            <option *ngFor="let campaign of Campaigns" [value]="campaign.id">{{ campaign.title }}</option>
                        </select>
                    </div>
                    
                    <div class="form-group">
                        <label for="brand">Select Brand:</label>
                        <select id="brand" class="form-control" [(ngModel)]="selectedBrandId">
                            <option disabled [selected]="!selectedBrandId" value="">Select Brand</option>
                            <option *ngFor="let brand of Brands" [value]="brand.id">{{ brand.title }}</option>
                        </select>
                    </div>
                    
                </div>
            </div>
            
            <div class="modal-footer" *ngIf="ft && selectedFormType && selectedCampaignId && selectedBrandId">
                <!-- Button only appears when all requirements are completed -->
                <button type="button" class="btn btn-primary" (click)="addform()">Add New Form</button>
            </div>
        </div>
    </div>
</div>

<div bsModal #AddNewFeildModal="bs-modal" class="modal fade" tabindex="-1" role="dialog"
    aria-labelledby="two-button-modal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h1>ADD NEW FIELD</h1>
                <button type="button" class="close pull-right" aria-label="Close" (click)="hideAddnewfeild()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="newFieldTitle">Enter your Field:</label>
                    <input type="text" class="form-control" id="newFieldTitle" placeholder="Enter your Question"
                        [(ngModel)]="newFieldtitle">
                </div>

                <div class="form-group">
                    <label for="newFeildType">Select Data Type:</label>
                    <select *ngIf="newFieldtitle" [(ngModel)]="newfeildtype" (change)="updateOptions()"
                        class="form-control">
                        <option disabled selected value="">Select Data Type</option>
                        <option *ngFor="let field of fieldOptions" [value]="field">{{ field }}</option>
                    </select>
                </div>

                <div
                    *ngIf="newfeildtype !== 'text_field' && newfeildtype !== 'image' && newfeildtype !== 'Select Data Type' && newfeildtype">
                    <div class="form-group">
                        <label for="numberOfOptions">Number of Options:</label>
                        <input type="number" class="form-control" id="numberOfOptions"
                            placeholder="Enter number of options" [(ngModel)]="numberOfOptions">
                    </div>

                    <!-- Button to trigger option creation -->
                    <button type="button" class="btn btn-primary" (click)="createOptions()">Create Options</button>

                    <!-- Use ngFor to loop through the options array -->
                    <div *ngFor="let option of options; let i = index" class="form-group">
                        <label for="option{{ i + 1 }}">Option {{ i + 1 }}:</label>
                        <input type="text" class="form-control" id="option{{ i + 1 }}" [(ngModel)]="options[i]">
                        <button type="button" class="btn btn-danger" (click)="removeOption(i)">Remove</button>
                    </div>
                </div>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-primary" (click)="addFields()">Add New Field</button>
            </div>
        </div>
    </div>
</div>

<div bsModal #CaptureModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="two-button-modal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h1>ADD FIELD VALUES</h1>
                <button type="button" class="close pull-right" aria-label="Close" (click)="hc()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <label for="fieldValueInput">Field Value Title:</label>
                <input type="text" id="fieldValueInput" class="form-control" placeholder="Enter your Field Value"
                    [(ngModel)]="naam">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-warning" (click)="addFieldValueWithPrompt(item, op)">Save</button>
            </div>
        </div>
    </div>
</div>
<div *ngIf="objg && toggelView===false">
    <div>
        <button type="button" class="btn btn-primary" (click)="gobutton()">Toggle</button>
        <div>

            <div class="pop" *ngFor="let item of objg; let i = index; trackBy: trackByFn" class="question-container">
                <div class="question">
                    <span class="question-label">Question {{ i + 1 }}:</span>
                    {{ item.feildtitle }}
                </div>

                <!-- For single_selection (radio buttons) -->
                <!-- item.formvalue_ids.length > 1 && -->
                <div *ngIf=" item.datatype === 'single_selection'" class="answers">
                    <div *ngFor="let itemId of item.formvalue_titles; let j = index">
                        <label for="{{ item.itemId }}_radio{{ j + 1 }}" class="answer-label">{{ itemId }} </label>
                        <input type="radio" id="{{ item.itemId }}_radio{{ j + 1 }}" name="{{ item.itemId }}_radioGroup">

                    </div>
                </div>

                <!-- For multi_text (checkboxes) -->
                <div *ngIf=" item.datatype === 'multi_selection'" class="answers">
                    <div *ngFor="let itemId of item.formvalue_titles; let j = index">
                        <label for="{{ item.itemId }}_checkbox{{ j + 1 }}" class="answer-label">{{ itemId }} </label>
                        <input type="checkbox" id="{{ item.formvalue_titles }}_checkbox{{ j + 1 }}">

                    </div>
                </div>


                <!-- Add an input field only when the length is 1 -->
                <div *ngIf="item.datatype === 'text_field'" class="answer-input">
                    <!-- Text Input -->
                    <input type="text" placeholder="Enter Answer">
                </div>
                <div *ngIf="item.datatype === 'image'" class="answer-input">
                    <!-- Text Input -->
                    <input type="file" placeholder="Select Image">
                </div>
            </div>
        </div>
    </div>
</div>
<div bsModal #FormPropertiesModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="two-button-modal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h1>{{propFormTitle}}</h1>
                <button type="button" class="close pull-right" aria-label="Close" (click)="hideFormProperties()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form [formGroup]="formProperties" enctype="multipart/form-data">
                    <div class="form-group">
                        <label for="campaign">Form Type:</label>
                        <select id="formType" formControlName="formType" class="form-control">
                            <option disabled [selected]="!formProperties.get('formType').value" value="">Select Form Type</option>
                            <option *ngFor="let field of formtypes" [value]="field.title">{{ field.title }}</option>
                        </select>
                        <div *ngIf="formProperties.get('formType').hasError('required') && formProperties.get('formType').touched">
                            Form Type is required.
                        </div>
                    </div>
            
                    <div class="form-group">
                        <label for="brand">Title:</label>
                        <input type="text" id="title" formControlName="title" class="form-control">
                        <div *ngIf="formProperties.get('title').hasError('required') && formProperties.get('title').touched">
                            Title is required.
                        </div>
                        <div *ngIf="formProperties.get('title').hasError('maxlength') && formProperties.get('title').touched">
                            Title cannot exceed 50 characters.
                        </div>
                    </div>
            
                    <div class="form-group">
                        <label for="campaign">Select Campaign:</label>
                        <select id="campaign" formControlName="campaignId" class="form-control">
                            <option disabled [selected]="!formProperties.get('campaignId').value" value="">Select Campaign</option>
                            <option *ngFor="let campaign of Campaigns" [value]="campaign.id">{{ campaign.title }}</option>
                        </select>
                    </div>
            
                    <div class="form-group">
                        <label for="brand">Select Brand:</label>
                        <select id="brand" formControlName="brandId" class="form-control">
                            <option disabled [selected]="!formProperties.get('brandId').value" value="">Select Brand</option>
                            <option *ngFor="let brand of Brands" [value]="brand.id">{{ brand.title }}</option>
                        </select>
                    </div>
                </form>
            </div>
            
            <div class="modal-footer">
                <button
                    (click)="updatingFormProperties(formProperties.value)"
                    class="mr-1"
                    [disabled]="!formProperties.valid"
                    mat-raised-button
                    color="primary"
                >Save
                </button>
            </div>
        </div>
    </div>
</div>

                
         
<div bsModal #FieldPropertiesModal="bs-modal" class="modal fade" tabindex="-1" role="dialog"
    aria-labelledby="two-button-modal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h1>SET FIELD PROPERTIES</h1>
                <button type="button" class="close pull-right" aria-label="Close" (click)="hideFieldProperties()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form [formGroup]="fieldProperties" enctype="multipart/form-data">
                    <div
                        *ngIf="fieldProperties && fieldProperties.get('fieldType') && fieldProperties.get('fieldType').value !== 'single_selection' && fieldProperties.get('fieldType').value !== 'multi_selection'">
                        <label for="minLength">Min Length:</label>
                        <input type="number" id="minLength" formControlName="minLength">
                        <div
                            *ngIf="fieldProperties.get('minLength').hasError('required') && fieldProperties.get('minLength').touched">
                            Min Length is required.
                        </div>
                    </div>

                    <div
                        *ngIf="fieldProperties && fieldProperties.get('fieldType') && fieldProperties.get('fieldType').value !== 'single_selection' && fieldProperties.get('fieldType').value !== 'multi_selection'">
                        <label for="fieldLength">Field Length:</label>
                        <input type="number" id="fieldLength" formControlName="fieldLength">
                        <div
                            *ngIf="fieldProperties.get('fieldLength').hasError('required') && fieldProperties.get('fieldLength').touched">
                            Field Length is required.
                        </div>
                    </div>

                    <div>
                        <label for="title">Title:</label>
                        <input type="text" id="title" formControlName="title">
                        <div
                            *ngIf="fieldProperties.get('title').hasError('required') && fieldProperties.get('title').touched">
                            Title is required.
                        </div>
                        <div
                            *ngIf="fieldProperties.get('title').hasError('maxlength') && fieldProperties.get('title').touched">
                            Title cannot exceed 50 characters.
                        </div>
                    </div>
                    <div
                        *ngIf="fieldProperties.get('fieldType').value === 'single_selection' || fieldProperties.get('fieldType').value === 'multi_selection'">
                        <label for="fieldType">Field Type:</label>
                        <select id="fieldType" formControlName="fieldType">
                            <option disabled selected value="">Select Data Type</option>
                            <option *ngFor="let i of list" [value]="i">{{ i }}</option>
                        </select>
                    </div>

                    <div
                        *ngIf="fieldProperties.get('fieldType').hasError('required') && fieldProperties.get('fieldType').touched">
                        Select Appropriate FieldType
                    </div>







                    <!-- <div>
              <label for="formFeildId">ID:</label>
              <input type="number" id="id" formControlName="id">
              <div *ngIf="fieldProperties.get('id').hasError('required') && fieldProperties.get('id').touched">
                 ID is required.
              </div>
            </div>
           -->
                    <!-- <button type="submit" [disabled]="fieldProperties.invalid">Submit</button> -->
                </form>

                <div class="modal-footer">
                    <button (click)="updatingFieldInfo(fieldProperties.value)" class="mr-1"
                        [disabled]="!fieldProperties.valid" mat-raised-button color="primary">
                        Upload
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
<div bsModal #logicModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="two-button-modal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h1>Apply Logic</h1>
                <button type="button" class="close pull-right" aria-label="Close" (click)="closeLogicModal()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form [formGroup]="logicProperties " enctype="multipart/form-data">
                    <!-- <div class="form-group">
                <label for="formFieldId">Form Field ID:</label>
                <input type="text" id="formFieldId" formControlName="formFieldId" class="form-control" />
                <div *ngIf="logicProperties.get('formFieldId').hasError('required')" class="text-danger">
                  Form Field ID is required.
                </div>
              </div> -->

                    <!-- <div class="form-group">
                <label for="fieldValueId">Field Value ID:</label>
                <input type="text" id="fieldValueId" formControlName="fieldValueId" class="form-control" />
                <div *ngIf="logicProperties.get('fieldValueId').hasError('required')" class="text-danger">
                  Field Value ID is required.
                </div>
              </div> -->

                    <div class="form-group">
                        <!-- <label for="gotoFormFieldId">GO WHERE</label>
                <input type="text" id="gotoFormFieldId" formControlName="gotoFormFieldId" class="form-control" />
                <div *ngIf="logicProperties.get('gotoFormFieldId').hasError('required')" class="text-danger">
                  Goto Form Field ID is required.
                </div> -->


                        <label for="formType">go where:</label>
                        <select id="gotoFormFieldId" formControlName="gotoFormFieldId">
                            <option disabled [selected]="!gotoFormFieldId" value="">SELECT</option>
                            <option *ngFor="let field of logicFields" [value]="field.id">{{ field.title }}</option>
                            <div *ngIf="logicProperties.get('gotoFormFieldId').hasError('required')"
                                class="text-danger">
                                Goto Form Field ID is required.
                            </div>
                        </select>
                    </div>

                </form>

            </div>
            <div class="modal-footer">
                <button type="button" [disabled]="!logicProperties.valid" class="btn btn-warning"
                    (click)="applyLogic(logicProperties.value)">Save</button>
            </div>
        </div>
    </div>
</div>