<div class="animated slideInLeft">
    <mat-card class="mb-20">
    
      <mat-card-content>
          <mat-card-title>
              {{title| uppercase}} <i color="warn" [ngClass]="{'fa fa-cog fa-spin':loadingData}"></i>
          </mat-card-title>
    
          <section class="example-section">
    
    
              <mat-form-field class="example-margin mr-10-IMP">
    
                  <mat-select placeholder="Zone" name='zone' [(ngModel)]="selectedZone" (ngModelChange)="zoneChange()">
                      <mat-option [value]="zone" *ngFor="let zone of zones">{{zone.title}}</mat-option>
                  </mat-select>
              </mat-form-field>
    
              <mat-form-field *ngIf="regions.length>0 && selectedZone.id !==-1" class="example-margin mr-10-IMP">
                  <mat-select placeholder="Region" name='region' [(ngModel)]="selectedRegion" (ngModelChange)="regionChange()">
                      <mat-option [value]="region" *ngFor="let region of regions">{{region.title}}</mat-option>
                  </mat-select>
              </mat-form-field>
    
              <mat-form-field *ngIf="stores.length>0" class="example-margin mr-10-IMP">
                  <mat-select placeholder="Store Name" name='storeType' [(ngModel)]="selectedStore" (ngModelChange)="getTabsData()">
                      <mat-option [value]="-1">ALL</mat-option>
                      <mat-option [value]="store" *ngFor="let store of stores">{{store.title}}</mat-option>
                  </mat-select>
              </mat-form-field>
    
    
    
              <mat-form-field class="example-full-width mr-10-IMP">
                  <input matInput [min]="minDate" [max]="maxDate" [matDatepicker]="picker0" [(ngModel)]="startDate" (ngModelChange)="getTabsData()" placeholder="Choose a start date" readonly>
                  <mat-datepicker-toggle matSuffix [for]="picker0"></mat-datepicker-toggle>
                  <mat-datepicker #picker0></mat-datepicker>
              </mat-form-field>
              <mat-form-field class="example-full-width mr-10-IMP">
                  <input matInput [min]="minDate" [max]="maxDate" [matDatepicker]="picker1" [(ngModel)]="endDate" (ngModelChange)="getTabsData()" placeholder="Choose a end date" readonly>
                  <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                  <mat-datepicker #picker1></mat-datepicker>
              </mat-form-field>
          </section>
    
    
      </mat-card-content>
    </mat-card>
    
    
    
    
    
    <div class="row web-view">
      <!-- <p>web view</p> -->
      <div class="col-md-12">
          <mat-card *ngIf="!loadingData && dashboardData">
              <mat-card-header style="justify-content: flex-end;">
    
              </mat-card-header>
              <mat-card-content>
                  <div class="row justify-content-lg-center">
                    <div class="col-lg-2">
                        <div>
                            <app-stat [bgClass]="'success'" [icon]="'assignment'" [count]="dashboardData?.TotalInterceptions" [label]="'Iterceptions'"></app-stat>
                        </div>
                    </div>


                      <div class="col-lg-2">
                          <div>
                              <app-stat [bgClass]="'success'" [icon]="'thumb_up'" [count]="dashboardData?.Successful" [label]="'Successful'"></app-stat>
                          </div>
                      </div>
                     
    
    
    
                      <div class="col-lg-2">
                        <div>
                            <app-stat [bgClass]="'info'" [icon]="'thumb_up'" [count]="dashboardData?.Successful_Per_Day" [label]="'Successful/Day'"></app-stat>
                        </div>
                    </div>
    
                      <div class="col-lg-2">
                          <div>
                              <app-stat [bgClass]="'purple'" [icon]="'money'" [count]="dashboardData?.Unit_Sale" [label]="'Unit Sale'"></app-stat>
                          </div>
                      </div>
    
                      <div class="col-lg-2">
                        <div>
                            <app-stat [bgClass]="'danger'" [icon]="'money'" [count]="dashboardData?.Unit_Sale_Per_Day" [label]="'Unit Sale/Day'"></app-stat>
                        </div>
                    </div>
    
    
    
    
    
                  </div>
              </mat-card-content>
          </mat-card>
      </div>
    </div>
    
    <ng-container *ngIf="tableData.length>0">
        <div class="animated slideInLeft">
            <mat-card class="mb-20" style="border-top: 1px solid #AFAFAF;">
    
                <mat-card-content>
    
                    <section class="example-section">
                       
    
                        <table class="table table-hover">
    
                            <thead>
                                <tr>
                                    <th (click)="sortIt('m_code')" style="cursor: pointer">BA Code
                                        <i class="material-icons arrow material-icons-arrow">
                                            {{getArrowType('m_code')}}
                                        </i>
                                    </th>
                                    <th (click)="sortIt('full_name')" style="cursor: pointer">BA Name
                                        <i class="material-icons arrow material-icons-arrow">
                                            {{getArrowType('full_name')}}
                                        </i></th>
    
                                        <th (click)="sortIt('WorkingDays')" style="cursor: pointer">Working Days
                                            <i class="material-icons arrow material-icons-arrow">
                                                {{getArrowType('WorkingDays')}}
                                            </i></th>
                                            <th (click)="sortIt('TotalInterception')" style="cursor: pointer">Interceptions
                                                <i class="material-icons arrow material-icons-arrow">
                                                    {{getArrowType('TotalInterception')}}
                                                </i></th>
                                    <th (click)="sortIt('Successful')" style="cursor: pointer">Successful Int
                                        <i class="material-icons arrow material-icons-arrow">
                                            {{getArrowType('Successful')}}
                                        </i></th>
                                        <th (click)="sortIt('successful_per_day')" style="cursor: pointer">Successful/Day
                                            <i class="material-icons arrow material-icons-arrow">
                                                {{getArrowType('successful_per_day')}}
                                            </i></th>
                                            <th (click)="sortIt('TotalSale')" style="cursor: pointer">Unit Sale
                                                <i class="material-icons arrow material-icons-arrow">
                                                    {{getArrowType('TotalSale')}}
                                                </i></th>
                                                <th (click)="sortIt('Successful')" style="cursor: pointer">Unit Sale/Day
                                                    <i class="material-icons arrow material-icons-arrow">
                                                        {{getArrowType('Successful')}}
                                                    </i></th>
        
                                    <!-- <th></th> -->
    
                                </tr>
                            </thead>
    
                            <tbody *ngIf="tableData.length>0">
                                <!-- | paginate: { itemsPerPage: 15, currentPage: p } -->
                                <tr *ngFor="let item of tableData | orderBy: sortBy : sortOrder" (click)="goToNewPage(item)">
                                    <td  style="cursor:pointer">{{item?.m_code}}</td>
                                    <td  style="cursor:pointer">{{item?.full_name}}</td>
                                    <td style="color:blue;cursor:pointer">{{item?.WorkingDays}}</td>
                                    <td style="color:blue;">{{item?.TotalInterception}}</td>
                                    
                                    <td style="color:blue;">
                                            {{item?.Successful}}</td>
                                            <td style="color:blue;">{{item?.successful_per_day}}</td>
                                            <td style="color:blue;">{{item?.TotalSale}}</td>
                                            <td style="color:blue;">{{item?.unit_sale_per_day}}</td>
                                </tr>
                            </tbody>
                        </table>
    
                    </section>
    
    
    
                </mat-card-content>
            </mat-card>
        </div>
    </ng-container>
    <div class="row " *ngIf="loadingData">
        <div class="col-md-12 text-center">
            <div class="img-center">
                <img src="assets/images/basicloader.gif" alt="" srcset="">
            </div>
        </div>
    </div>
    
    <div class="row " *ngIf="!loadingData && tableData.length==0">
        <div class="col-md-12 text-center">
    
            <div class="alert alert-info">
                <p>No Data Found</p>
            </div>
        </div>
    </div>
    
    
    </div>