.clickable {
    cursor: pointer;
    color: blue;
    text-decoration: underline;
  }
  
  .summary-button-container {
    display: flex;
    align-items: center; 
    justify-content: flex-start; 
    margin-top: 16px; 
  }

  .summary-button {
    margin-left: 250px; 
  }
  
  /* .summary-button {
    margin-left: 50px; 
  } */