<div class="animated slideInLeft">
  <mat-card class="mb-20">
    <mat-card-content>
      <mat-card-title>
        {{ title | uppercase }}
        <i color="warn" [ngClass]="{ 'fa fa-cog fa-spin': loadingData }"></i>
      </mat-card-title>

      <section class="header-section">
        <!-- First Row: Form Fields -->
        <div class="row">
          <div class="col">
            <mat-form-field class="example-full-width">
              <input
                matInput
                [min]="minDate"
                [max]="maxDate"
                [matDatepicker]="picker0"
                [(ngModel)]="startDate"
                placeholder="From"
                readonly
                (ngModelChange)="onDateChange()"
              />
              <mat-datepicker-toggle matSuffix [for]="picker0"></mat-datepicker-toggle>
              <mat-datepicker #picker0></mat-datepicker>
            </mat-form-field>
          </div>
          <div class="col">
            <mat-form-field class="example-full-width">
              <input
                matInput
                [min]="minDate"
                [max]="maxDate"
                [matDatepicker]="picker1"
                [(ngModel)]="endDate"
                placeholder="To"
                readonly
                (ngModelChange)="onDateChange()"
              />
              <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
              <mat-datepicker #picker1></mat-datepicker>
            </mat-form-field>
          </div>
          <div class="col">
            <mat-form-field class="example-full-width">
              <mat-label>Select Zone</mat-label>
              <mat-select [(value)]="selectedZone" (selectionChange)="onZoneChange($event)">
                <mat-option *ngFor="let zone of Zones" [value]="zone.id">
                  {{ zone.name }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="col">
            <mat-form-field class="example-full-width">
              <mat-label>Select Region</mat-label>
              <mat-select [(value)]="selectedRegion" (selectionChange)="onSelectChange()">
                <mat-option *ngFor="let region of Regions" [value]="region.id">
                  {{ region.name }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="col">
            <mat-form-field class="example-full-width">
              <mat-label>Select Supervisor</mat-label>
              <mat-select [(value)]="selectedSupervisor" (selectionChange)="onSelectChange()">
                <mat-option *ngFor="let supervisor of Supervisors" [value]="supervisor.id">
                  {{ supervisor.name }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>

        <!-- Second Row: Buttons -->
        <div class="col">
          <div class="button-container">
            <button mat-raised-button color="primary" class="summary-button" (click)="getSummeryDetail()">Get Summary</button>
            <button mat-raised-button color="primary" class="summary-button" (click)="openInNewTab('/app-rm-stock-assign')">Add Stock</button>
            <button mat-raised-button color="primary" class="summary-button" (click)="openInNewTab('/app-rm-stock-return')">Return Stock</button>
          </div>
        </div>

      </section>
    </mat-card-content>
  </mat-card>
</div>

          
          <!-- <div class="col summary-button-container" style="margin-right: 500px; margin-top: 10px;">
            <button mat-raised-button color="primary" class="summary-button" (click)="getSummeryDetail()">Get Summary</button>
          </div> -->
    

          <div *ngIf="filteredItems.length > 0">
            <table class="table table-hover mb-0 custom-table">
              <thead>
                <tr>
                  <th scope="col" class="text-center">#</th>
                  <th scope="col" class="text-center" style="cursor: pointer;" (click)="sortIt('user_name')">
                    Supervisor
                    <i *ngIf="sortBy === 'user_name'" class="material-icons arrow material-icons-arrow" [ngClass]="{ 'asc': sortOrder, 'desc': !sortOrder }">
                      arrow_upward
                    </i>
                  </th>
                  <th scope="col" class="text-center" style="cursor: pointer;" (click)="sortIt('visit_date')">
                    Date
                    <i *ngIf="sortBy === 'visit_date'" class="material-icons arrow material-icons-arrow" [ngClass]="{ 'asc': sortOrder, 'desc': !sortOrder }">
                      arrow_upward
                    </i>
                  </th>
                  <th scope="col" class="text-center" style="cursor: pointer;" (click)="sortIt('issuance')">
                    Issuance
                    <i *ngIf="sortBy === 'issuance'" class="material-icons arrow material-icons-arrow" [ngClass]="{ 'asc': sortOrder, 'desc': !sortOrder }">
                      arrow_upward
                    </i>
                  </th>
                  <th scope="col" class="text-center" style="cursor: pointer;" (click)="sortIt('return_value')">
                    Return
                    <i *ngIf="sortBy === 'return_value'" class="material-icons arrow material-icons-arrow" [ngClass]="{ 'asc': sortOrder, 'desc': !sortOrder }">
                      arrow_upward
                    </i>
                  </th>
                  <th *ngIf="projectType !== 'NFL'" scope="col" class="text-center" style="cursor: pointer;" (click)="sortIt('lost')">
                    Lost
                    <i *ngIf="sortBy === 'lost'" class="material-icons arrow material-icons-arrow" [ngClass]="{ 'asc': sortOrder, 'desc': !sortOrder }">
                      arrow_upward
                    </i>
                  </th>
                  <th *ngIf="projectType !== 'NFL'" scope="col" class="text-center" style="cursor: pointer;" (click)="sortIt('cash_collected')">
                    Cash Collected
                    <i *ngIf="sortBy === 'cash_collected'" class="material-icons arrow material-icons-arrow" [ngClass]="{ 'asc': sortOrder, 'desc': !sortOrder }">
                      arrow_upward
                    </i>
                  </th>
                  <th *ngIf="projectType !== 'PTC'" scope="col" class="text-center" style="cursor: pointer;" (click)="sortIt('assign_to_ba')">
                    Assign to BA
                    <i *ngIf="sortBy === 'assign_to_ba'" class="material-icons arrow material-icons-arrow" [ngClass]="{ 'asc': sortOrder, 'desc': !sortOrder }">
                      arrow_upward
                    </i>
                  </th>
                  
                  <th scope="col" class="text-center" style="cursor: pointer;" (click)="sortIt('balance')">
                    Balance
                    <i *ngIf="sortBy === 'balance'" class="material-icons arrow material-icons-arrow" [ngClass]="{ 'asc': sortOrder, 'desc': !sortOrder }">
                      arrow_upward
                    </i>
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of filteredItems; let x = index">
                  <th scope="row" class="text-center">{{ x + 1 }}</th>
                  <td class="text-center">{{ item.user_name }}</td>
                  <td class="text-center">{{ formatDate(item.visit_date) }}</td>
                  <td class="text-center clickable" (click)="goToEvaluation(item.id, item.visit_date)">{{ item.issuance }}</td>
                  <td class="text-center clickable" (click)="goToEvaluation1(item.id, item.visit_date)">{{ item.return_value }}</td>
                  <td *ngIf="projectType !== 'NFL'" class="text-center">{{ item.lost }}</td>
                   <td *ngIf="projectType !== 'NFL'" class="text-center">{{ item.cash_collected }}</td>
                   <td *ngIf="projectType !== 'PTC'" class="text-center">{{ item.assign_to_ba }}</td>
                  <td class="text-center">{{ item.balance }}</td>
                </tr>
              </tbody>
            </table>
          </div>
          
          
          