<p>ndn-router-tracker works!</p>
<!--<script>angular.module('MyApp', ['ngMaterial', 'ngMessages', 'material.svgAssetsCache']);</script>-->
<mat-card class="mb-20">
    <mat-card-content>
      <mat-card-title>
        {{ labels.surveyorLabel }} Tracker
        <i [ngClass]="{ 'fa fa-cog fa-spin': loading }"></i>
        <i
          style="cursor: pointer; color: black"
          *ngIf="!loading"
          class="material-icons refresh-btn"
          matTooltip="Refresh Stats"
          (click)="refresh()"
        >
          cached
        </i>
      </mat-card-title>
      <!-- <button
        style="margin-left: 1%"
        [disabled]="loading"
        mat-raised-button
        color="primary"
        (click)="refresh()"
      >
        Refresh
      </button> -->
    </mat-card-content>
  </mat-card>
  <mat-card *ngIf="trackedShops.length > 0">
    <section>
      <div class="row my-2">
        <div class="col-md-12">
          <!-- <div class="col-md-3"><label for="totalDistance">Total Distance Covered:{{totalDistanceCovered}} Km.</label></div> -->
          <button mat-raised-button color="primary" class="mr-2" (click)="play()">
            Play
          </button>
          <button
            mat-raised-button
            color="primary"
            class="mr-2"
            (click)="pause()"
          >
            Pause
          </button>
          <button
            mat-raised-button
            color="primary"
            class="mr-2"
            (click)="reset()"
          >
            Reset
          </button>
          <button mat-raised-button color="primary" class="mr-2" (click)="fast()">
            Fast
          </button>
          <button mat-raised-button color="primary" class="mr-2" (click)="slow()">
            Slow
          </button>
          <button mat-raised-button color="primary" class="mr-2" (click)="next()">Next</button>
                <button mat-raised-button color="primary" class="mr-2" (click)="prev()">Previous</button>
        </div>
      </div>
    </section>
  
    <mat-card *ngIf="trackedShops.length > 0">
      <div class="row">
        <div class="col-md-12">
          <div class="tableFixHead col-md-12">
            <table class="table table-bordered table-hover">
              <thead style="background: lightgray">
                <tr>
                  <!-- <th (click)="sortIt('captured')"
                    style="cursor: pointer">captured
                   <i class="material-icons arrow material-icons-arrow">
                      {{ getArrowType("captured") }}
                    </i>
                  </th> -->
                  <!-- <th>Captured</th> -->
                  <th>Interceptions</th>
                  <th>Productive</th>
                  <th>Working Time</th>
                  <th>Activity Time</th>
                  <th>Travel Time</th>
                  <th>Distance Covered</th>
                </tr>
              </thead>
  
              <tbody *ngIf="trackedShops.length > 0" class="trS14">
                <tr *ngFor="let shop of dataShops">
                  <!-- <td>
                    {{ shop.captured }}
                  </td> -->
  
                  <td>
                    {{ shop.visited }}
                  </td>

                  <td>
                    {{ shop.productive }}
                  </td>
  
                  <td>
                    {{ shop.time_on_route }}
                  </td>
  
                  <td>
                    {{ shop.time_on_shop }}
                  </td>
  
                  <td>
                    {{ shop.travel_time }}
                  </td>
                  <td>{{ totalDistanceCovered }} Km</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
                  <!-- New Added -->
  
                  <mat-card *ngIf="trackedTime.length > 0">
                    <div class="row">
                      <div class="col-md-12">
                        <div class="tableFixHead col-md-12">
                          <table class="table table-bordered table-hover">
                            <thead style="background: lightgray">
                              <tr>
                                <th colspan="13" style = "border: 1px solid;">Interceptions Trend by Hour</th>
                              </tr>
                                 <tr>
                               <th style = "border: 1px solid;" >9:00 AM</th>
                                <th style = "border: 1px solid;" >10:00 AM</th>
                                <th style = "border: 1px solid;" >11:00 AM</th>
                                <th style = "border: 1px solid;" >12:00 PM</th>
                                <th style = "border: 1px solid;" >1:00 PM</th>
                                <th style = "border: 1px solid;" >2:00 PM</th>
                                <th style = "border: 1px solid;">3:00 PM</th>
                                <th style = "border: 1px solid;">4:00 PM</th>
                                <th style = "border: 1px solid;">5:00 PM</th>
                                <th style = "border: 1px solid;">6:00 PM</th>
                                <th style = "border: 1px solid;">7:00 PM</th>
                                <th style = "border: 1px solid;">8:00 PM</th>
                                <th style = "border: 1px solid;">9:00 PM</th>
                                <!-- <th style = "border: 1px solid;">10:00 PM</th>
                                <th style = "border: 1px solid;">11:00 PM</th>
                                <th style = "border: 1px solid;">12:00 AM</th> -->
                              </tr>
                            </thead>
                
                            <tbody *ngIf="trackedTime.length > 0" class="trS14">
                              <tr>
                                  <ng-container *ngFor="let hour of ['09:AM', '10:AM', '11:AM', '12:PM', '01:PM', '02:PM', '03:PM', '04:PM', '05:PM',
                                   '06:PM', '07:PM', '08:PM', '09:PM']">
                                      <td>{{ getInterceptionCountForHour(trackedTime, hour) }}</td>
                                  </ng-container>
                              </tr>
                          </tbody>
                          </table>
                        </div>
                      </div>
                  
        <div class="col-md-6">
          <div
            class="tableFixHead col-md-12"
            style="overflow: auto; height: 400px; max-width: 100%"
          >
            <table class="table table-bordered table-hover">
              <thead style="background: lightgray">
                <tr>
                  <!-- <th (click)="sortIt('captured')"
                  style="cursor: pointer">captured
                 <i class="material-icons arrow material-icons-arrow">
                    {{ getArrowType("captured") }}
                  </i>
                </th> -->
  
                  <!-- <th>Shop Code</th> -->
                  <th>Area/Shop Name</th>
                  <!-- <th>Shop Address</th> -->
                  <th (click)="sortIt('time')" style="cursor: pointer">
                    Start Time
                    <i class="material-icons arrow material-icons-arrow">{{ getArrowType("time") }}</i>
                  </th>
                  <th>End Time</th>
                  <th>Time Difference</th>
                </tr>
              </thead>
  
              <tbody
                *ngFor="let shop of visitedtrackedShops | orderBy: sortBy:sortOrder"
                class="trS14"
              >
                <tr *ngIf="shop.Type == 'Visit'">
                  <!-- <td>
                    {{ shop.shop_code }}
                  </td> -->
  
                  <td>
                    {{ shop.shop_title }}
                  </td>
                  <!-- <td>
                    {{ shop.address }}
                  </td> -->
                  <td>
                    {{ shop.time }}
                  </td>
                  <td>
                    {{ shop.end_time }}
                  </td>
                  <td>
                    {{ shop.time_difference }}
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
  
        <div class="col-md-6">
          <section class="example-section">
            <agm-map
              [latitude]="lat"
              [longitude]="lng"
              [fitBounds]="trackedShops.length > 0"
              [zoom]="16"
              style="height: 600px"
              (mapReady)="onMapReady($event)"
            >
  
              <ng-container *ngFor="let shop of trackedShops">
                <!-- <div *ngIf="shop.remarks_id==1"> -->
                  <agm-marker
                  [agmFitBounds]="true"
                  latitude="{{ shop.latitude }}"
                  longitude="{{ shop.longitude }}"
                  iconUrl="{{ colorType + 'yellow' + '.png' }}"
                  [visible]="shop.isVisible && shop.remarks_id==1" 
                 
                >
                  <agm-snazzy-info-window
                    [maxWidth]="400"
                    [isOpen]="shop.isVisible"
                    [closeWhenOthersOpen]="true"
                  >
                    <ng-template>
                      <strong>Start Time:</strong> {{ shop.time }}
                      <br />
                      <strong>End Time:</strong> {{ shop.end_time }}
                      <br />
                      <strong>Shop Code:</strong> {{ shop.shop_code }}
                      <br />
                      <strong>Shop Name:</strong> {{ shop.shop_title }}
                      <br />
                      <a (click)="goToEvaluation(shop)">
                        <button backgroundcolor="#2196F3">
                          Go To Details
                        </button></a
                      >
                    </ng-template>
                  </agm-snazzy-info-window>
                </agm-marker>
                <!-- </div> -->
                
                <!-- <div *ngIf="shop.remarks_id!=1"> -->
                <agm-marker
                  [agmFitBounds]="true"
                  latitude="{{ shop.latitude }}"
                  longitude="{{ shop.longitude }}"
                  iconUrl="{{ colorType + 'red' + '.png' }}"
                  [visible]="shop.isVisible && shop.remarks_id!=1"
                  
                >
                  <agm-snazzy-info-window
                    [maxWidth]="400"
                    [isOpen]="shop.isVisible"
                    [closeWhenOthersOpen]="true"
                  >
                    <ng-template>
                      <strong>Start Time:</strong> {{ shop.time }}
                      <br />
                      <strong>End Time:</strong> {{ shop.end_time }}
                      <br />
                      <strong>Shop Code:</strong> {{ shop.shop_code }}
                      <br />
                      <strong>Shop Name:</strong> {{ shop.shop_title }}
                      <br />
                      <a (click)="goToEvaluation(shop)">
                        <button backgroundcolor="#2196F3">
                          Go To Details
                        </button></a
                      >
                    </ng-template>
                  </agm-snazzy-info-window>
                </agm-marker>
                <!-- </div> -->
              </ng-container>
            </agm-map>
          </section>
        </div>
      </div>
    <!-- </mat-card> -->
  
  <div
    *ngIf="loading"
    class="text-center"
    flFlex
    flexLayout="row "
    flexLayout.lt-md="column "
  >
    <div fxFlex class="img-center">
      <img
        src="assets/images/loading.gif"
        alt=" "
        srcset=""
        height="300"
        width="300"
      />
    </div>
  </div>