<div class="animated slideInLeft">
  <mat-card class="mb-20" style="padding-top: 1px; padding-bottom: 1px">
    <mat-card-content>
      <mat-card-title>
        {{ title | uppercase }}
        <i color="warn" [ngClass]="{ 'fa fa-cog fa-spin': loadingData || cardLoading }"></i>
        <i
          *ngIf="!loadingData && !cardLoading"
          class="material-icons refresh-btn"
          matTooltip="Refresh Stats"
          (click)="getMerchandiserList()"
        >
          cached
        </i>
        <small style="color: lightseagreen !important" class="mtb-5-IMP" *ngIf="loadingReportMessage">
          Your file is being prepared for download
        </small>
      </mat-card-title>

      <section class="example-section">
        <!-- Zone Select -->
        <mat-form-field class="example-margin mr-10-IMP">
          <mat-select
            placeholder="{{ labels.zoneLabel }}"
            name="zone"
            [(ngModel)]="selectedZone"
            (ngModelChange)="getMerchandiserList();zoneChange()"
          >
            <mat-option [value]="zone" *ngFor="let zone of zones">{{ zone.title }}</mat-option>
          </mat-select>
        </mat-form-field>

        <!-- Region Select -->
        <mat-form-field *ngIf="regions.length > 0" class="example-margin mr-10-IMP">
          <mat-select
            placeholder="{{ labels.regionLabel }}"
            name="region"
            [(ngModel)]="selectedRegion"
            (ngModelChange)="getMerchandiserList()"
          >
            <mat-option [value]="region" *ngFor="let region of regions">{{ region.title }}</mat-option>
          </mat-select>
        </mat-form-field>

        <!-- Supervisor Select -->
        <mat-form-field *ngIf="supervisorList.length > 0" class="example-margin mr-10-IMP">
          <mat-select
            placeholder="Supervisors List"
            name="list"
            [(ngModel)]="selectedSupervisor"
            (ngModelChange)="getMerchandiserList()"
          >
            <mat-option [value]="list" *ngFor="let list of supervisorList">{{ list.fullName }}</mat-option>
          </mat-select>
        </mat-form-field>

        <!-- Surveyor Select -->
        <mat-form-field *ngIf="surveyorList.length > 0" class="example-margin mr-10-IMP">
          <mat-select
            placeholder="BA List"
            name="list"
            [(ngModel)]="selectedSurveyor"
            (ngModelChange)="getMerchandiserList()"
          >
            <mat-option [value]="list" *ngFor="let list of surveyorList">{{ list.fullName }}</mat-option>
          </mat-select>
        </mat-form-field>

        <!-- Alert Type Select (Moved above date pickers) -->
        <mat-form-field class="example-margin mr-10-IMP">
          <mat-select
            placeholder="Alert Type"
            name="alertType"
            [(ngModel)]="selectedAlertType"
            (ngModelChange)="onAlertTypeChange($event)"
          >
            <mat-option *ngFor="let alertType of alertTypes" [value]="alertType">
              {{ alertType }}
            </mat-option>
          </mat-select>
        </mat-form-field>
        
        <!-- Start Date Picker -->
        <mat-form-field class="example-full-width mr-10-IMP">
          <input
            matInput
            [min]="minDate"
            [max]="maxDate"
            [matDatepicker]="picker0"
            [(ngModel)]="startDate"
            placeholder="Choose a start date"
            (ngModelChange)="getMerchandiserList()"
            readonly
          />
          <mat-datepicker-toggle matSuffix [for]="picker0"></mat-datepicker-toggle>
          <mat-datepicker #picker0></mat-datepicker>
        </mat-form-field>

        <!-- End Date Picker -->
        <mat-form-field class="example-full-width mr-10-IMP">
          <input
            matInput
            [min]="minDate"
            [max]="maxDate"
            [matDatepicker]="picker1"
            [(ngModel)]="endDate"
            placeholder="Choose an end date"
            (ngModelChange)="getMerchandiserList()"
            readonly
          />
          <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
          <mat-datepicker #picker1></mat-datepicker>
        </mat-form-field>
      </section>
    </mat-card-content>
  </mat-card>
</div>

  
  <ng-container *ngIf="merchandiserList.length > 0">
    <div class="animated slideInLeft">
      <mat-card class="mb-20" style="border-top: 1px solid #afafaf">
        <mat-card-content>
          <section class="example-section">
            <table class="table table-hover">
              <thead>
                <tr>
                  <th (click)="sortIt('m_code')" style="cursor: pointer">
                    BA Code
                    <i class="material-icons arrow material-icons-arrow">
                      {{ getArrowType("m_code") }}
                    </i>
                  </th>
                  <!-- <th (click)="sortIt('full_name')" style="cursor: pointer">
                    BA Name
                    <i class="material-icons arrow material-icons-arrow">
                      {{ getArrowType("full_name") }}
                    </i>
                  </th> -->
                  <th (click)="sortIt('user_code')" style="cursor: pointer">
                    Supervisor code
                    <i class="material-icons arrow material-icons-arrow">
                      {{ getArrowType("user_code") }}
                    </i>
                  </th>
                  <!-- <th (click)="sortIt('user_name')" style="cursor: pointer">
                    Supervisor Name
                    <i class="material-icons arrow material-icons-arrow">
                      {{ getArrowType("user_name") }}
                    </i>
                  </th> -->
                  <th (click)="sortIt('alert_type')" style="cursor: pointer">
                    Alert Type
                    <i class="material-icons arrow material-icons-arrow">
                      {{ getArrowType("alert_type") }}
                    </i>
                  </th>
                  <th (click)="sortIt('alert_message')" style="cursor: pointer">
                    Alert Message
                    <i class="material-icons arrow material-icons-arrow">
                      {{ getArrowType("alert_message") }}
                    </i>
                  </th>
                  <th (click)="sortIt('alert_date')" style="cursor: pointer">
                    Alert Date
                    <i class="material-icons arrow material-icons-arrow">
                      {{ getArrowType("alert_date") }}
                    </i>
                  </th>
                  <th (click)="sortIt('created_datetime')" style="cursor: pointer">
                    Alert Time
                    <i class="material-icons arrow material-icons-arrow">
                      {{ getArrowType("created_datetime") }}
                    </i>
                  </th>
                  <!-- <th></th> -->
                </tr>
              </thead>
  
              <tbody *ngIf="merchandiserList.length > 0">
                <!-- | paginate: { itemsPerPage: 15, currentPage: p } -->
                <tr
                  *ngFor="
                    let item of merchandiserList | orderBy: sortBy:sortOrder
                  "
                >
                  <td>{{ item?.m_code }}</td>
                  <!-- <td>{{ item?.full_name }}</td> -->
                  <td>{{ item?.user_code }}</td>
                  <!-- <td>{{ item?.user_name }}</td> -->
                  <td>{{ item?.alert_type }}</td>
                  <!-- <td style="color:blue;cursor:pointer" [routerLink]="['/dashboard/evaluation/list']" [queryParams]="{ surveyorId: item.id,startDate: modifyDate(startDate),endDate: modifyDate(startDate)}">
                                      {{item?.captured_shops}}</td> -->
                  <!-- <td
                    style="color: blue; cursor: pointer"
                    (click)="gotoNewPage(item)"
                  >
                    {{ item?.captured_shops }}
                  </td> -->
                  <td>{{ item?.alert_message }}</td>
                  <td>{{ item?.alert_date }}</td>
                  <td>{{ item?.created_datetime }}</td>
                  
                  <!-- <td *ngIf="item?.captured_shops==item?.evaluated_shops">
                                      <img src="./assets/images/Checked-Checkbox-icon.png" alt="">
                                  </td>
                                  <td *ngIf="item?.captured_shops!=item?.evaluated_shops">
                                      <img src="./assets/images/Unchecked-Checkbox-icon.png" alt="">
                                  </td> -->
                </tr>
              </tbody>
            </table>
          </section>
        </mat-card-content>
      </mat-card>
    </div>
  </ng-container>
  <div class="row" *ngIf="loading">
    <div class="col-md-12 text-center">
      <div class="img-center">
        <img src="assets/images/basicloader.gif" alt="" srcset="" />
      </div>
    </div>
  </div>
  
  <div class="row" *ngIf="!loading && merchandiserList.length == 0">
    <div class="col-md-12 text-center">
      <div class="alert alert-info">
        <p>No Data Found</p>
      </div>
    </div>
  </div>
  