<div
  bsModal
  #childModal="bs-modal"
  class="modal fade"
  tabindex="-1"
  role="dialog"
  aria-labelledby="dialog-child-name"
>
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h4 id="dialog-child-name" class="modal-title pull-left">
          {{ selectedItem.promotionTitle }}
        </h4>
        <button
          type="button"
          class="close pull-right"
          aria-label="Close"
          (click)="hideChildModal()"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="modal-body text-center">
        <img
          src="{{ selectedItem.shopImageUrl }}"
          alt=""
          style="width: 100%; height: 500px"
        />
      </div>
    </div>
  </div>
</div>

<mat-card class="mb-20">
  <mat-card-content>
    <mat-card-title >
      {{ title | uppercase }}
      <i color="warn" [ngClass]="{ 'fa fa-cog fa-spin': loading }"></i>
      <!-- <p *ngIf="!loading && tableData == 0">No data available</p> -->
    </mat-card-title>

    <!-- <mat-form-field
    class="example-full-width mr-10-IMP"
  >
    <input
      matInput
      [min]="minDate"
      [max]="maxDate"
      [matDatepicker]="picker0"
      [(ngModel)]="startDate"
      (ngModelChange)="getData()"
      placeholder="Choose a start date"
      readonly
    />
    <mat-datepicker-toggle
      matSuffix
      [for]="picker0"
    ></mat-datepicker-toggle>
    <mat-datepicker #picker0></mat-datepicker>
  </mat-form-field>
  <mat-form-field
    class="example-full-width mr-10-IMP"
  >
    <input
      matInput
      [min]="minDate"
      [max]="maxDate"
      [matDatepicker]="picker1"
      [(ngModel)]="endDate"
      (ngModelChange)="getData()"
      placeholder="Choose a end date"
      readonly
    />
    <mat-datepicker-toggle
      matSuffix
      [for]="picker1"
    ></mat-datepicker-toggle>
    <mat-datepicker #picker1></mat-datepicker>
  </mat-form-field> -->

  </mat-card-content>
</mat-card>

<div class="container-fluid text-center" *ngIf="tableData != null && !loading">
 
  <div class="row justify-content-center">
  

    
    <div *ngFor="let item of tableData; let i = index" class="col-md-6" >
      <!-- <div class="col-md-9 ml-3 mt-3"> -->

     
      <div >
        <div class="containerimg" >
          <img
            mat-card-image
            class="small"
            src="{{ item.value.shopImageUrl }}"
            width="300"
            height="350"
            alt=""
            (click)="setSelectedItem(item.value); showChildModal()"
          />
        </div>

        <!-- <mat-card-content > -->
          <table class="table" style="cursor: pointer">
            <tr>
              <th>Zone</th>
              <td>{{ item?.value.zoneTitle }}</td>
            </tr>
            <tr>
              <th>Region</th>
              <td>{{ item?.value.regionTitle }}</td>
            </tr>
            <tr>
              <th>CPE Name</th>
              <td>{{ item?.value.cpeName }}</td>
            </tr>
            <tr>
              <th>Shop Title</th>
              <td>{{ item?.value.cpeName }}</td>
            </tr>
            <tr>
              <th>Shop Address</th>
              <td>{{ item?.value.shopAddress }}</td>
            </tr>
            <tr>
              <th>Channel</th>
              <td>{{ item?.value.channel }}</td>
            </tr>
            <tr>
              <th>Category</th>
              <td>{{ item?.value.categoryTitle }}</td>
            </tr>
            <tr>
              <th>Brand</th>
              <td>
                <!-- <input type="text"  [(ngModel)]="item?.value.brandName" /> -->
                <mat-form-field appearance="fill">
                  <input *ngIf="!loadingData" matInput name="farhan" placeholder="Brand" [(ngModel)]="item?.value.brandName" 
                    (blur)="onBrandNameBlur(item.value.id,item?.value.brandName)">
                    <i color="warn" [ngClass]="{ 'fa fa-cog fa-spin': loadingData }"></i>
                </mat-form-field>
                
              </td>
            </tr>
            <tr>
              <th>Trade Support</th>
              <td>{{ item?.value.tradeSupport }}</td>
            </tr>
            <tr>
              <th>Price Off Detail</th>
              <td>{{ item?.value.priceOffDetail }}</td>
            </tr>
            <tr>
              <th>Promotion Type</th>
              <td>{{ item?.value.promotionTitle }}</td>
            </tr>

            <tr>
              <th>New TP Price</th>
              <td>{{ item?.value.newTpPrice }}</td>
            </tr>
            <tr>
              <th>New CP Price</th>
              <td>{{ item?.value.newCpPrice }}</td>
            </tr>

            <tr>
              <th>
                Description
              </th>
              <td>
                <mat-expansion-panel>
                  <mat-expansion-panel-header>
                    <!-- <mat-panel-title>
                      Long Text Example
                    </mat-panel-title> -->
                    <mat-panel-description>
                      Click To Expand
                    </mat-panel-description>
                  </mat-expansion-panel-header>
                
                  <!-- <div contenteditable="true" ngDefaultControl [(ngModel)]="item?.value.productDescription"
                   (blur)="onProductDescriptionBlur(item?.value.productDescription)">
                    {{ item?.value.productDescription }}
                  </div> -->
                  <mat-form-field appearance="fill">
                    <!-- <input matInput name="des" placeholder="des" [(ngModel)]="item?.value.productDescription" 
                      (blur)="onBrandNameBlur(item?.value.productDescription)"/> -->
                      <textarea *ngIf="!loadingData" matInput placeholder="Description" [(ngModel)]="item?.value.productDescription" 
                      (blur)="onProductDescriptionBlur(item.value.id, item?.value.productDescription)" rows="10"></textarea>
                      <i color="warn" [ngClass]="{ 'fa fa-cog fa-spin': loadingData }"></i>
                  </mat-form-field>
                </mat-expansion-panel>
              </td>
         
            </tr>
            <tr>
              <th>Visit Date</th>
              <td>{{ item?.value.visitDate }}</td>
            </tr>
            <tr>

            <tr>
              <th></th>
              <td></td>
            </tr>
            <tr>
              <th>
                <button
        class="btn btn-success mr-10-IMP"
        title="Click to Approve"
        (click)="evaluateVisitApprove(1, item?.value.id)"
        [disabled]="loading"
      >
        Approve
        <i [ngClass]="{ 'fa fa-spinner fa-spin': loadingData }"></i>
      </button>
              </th>
              <td>
                <button
                class="btn btn-danger mr-10-IMP"
                title="Click to Disapprove"
                (click)="showRemarkModal(2, item?.value.id)"
                [disabled]="loading"
              >
                Dispprove
                <i [ngClass]="{ 'fa fa-spinner fa-spin': loadingData }"></i>
              </button>
              </td>
            </tr>

          </table>
        <!-- </mat-card-content> -->
      </div>
    <!-- </div> -->
    </div>
  </div>
  </div>




<div class="d-flex align-items-center justify-content-center">
  <div
  bsModal
  #remarksModal="bs-modal"
  class="modal fade "
  tabindex="-1"
  role="dialog"
  aria-labelledby="dialog-child-name"
>
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <h4 id="dialog-child-name" class="modal-title pull-left">
          Select Remark
        </h4>
        <button
          type="button"
          class="close pull-right"
          aria-label="Close"
          (click)="hideRemarksModal()"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="modal-body text-center">

         
        <section class="example-section">
  
          <mat-select
        placeholder="Remark"
        name="remark"
        [(ngModel)]="selectedRemark"
      >
   
      <ng-container *ngFor="let r of remarksList">
        <mat-option [value]="r" *ngIf="r.id != -1">{{
          r.title
        }}</mat-option>
      </ng-container>
       
      </mat-select>
      </section>
      <!-- <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Long Text Example
          </mat-panel-title>
          <mat-panel-description>
            Description of the long text panel.
          </mat-panel-description>
        </mat-expansion-panel-header>
      
        <p>
          Your long text content goes here. You can include paragraphs, images, or any other HTML elements.
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        </p>
      </mat-expansion-panel> -->

      
      
        
      </div>
      <div class="modal-footer">
        <button
          (click)="evaluateVisitDisapprove()"
          class="mr-1"
          mat-raised-button
          color="primary"
          [disabled]="!selectedRemark || loadingData"
        >
          <i [ngClass]="{ 'fa fa-spinner fa-spin': loadingData }"></i>
          Save
        </button>
      </div>
    </div>
  </div>
</div>


</div>

