<!-- ///////////////FormTypes/////////////////// -->
<div *ngIf="showForms" class="container-fluid">
  <h1 id="dialog-child-name">SELECT OR ADD NEW Form</h1>
  <mat-card>
    <div class="row mb-3">
      <div class="col">
        <!-- Add New Button -->
        <button type="button" class="btn btn-primary" (click)="showaddModal()">
          Add New
        </button>
      </div>
      <div class="col-auto ml-auto">
        <div class="input-group" style="height: 40px">
          <!-- Search Bar -->
          <div
            id="search-autocomplete"
            class="form-outline"
            style="width: 250px"
          >
            <input
              type="search"
              id="form1"
              class="form-control form-control-sm"
              placeholder="Search..."
              [(ngModel)]="searchQuery"
              style="height: 40px; padding-top: 8px; padding-bottom: 8px"
            />
          </div>
          <button type="button" class="btn btn-primary" data-mdb-ripple-init>
            <i class="fas fa-search"></i>
          </button>
        </div>
      </div>
    </div>
    <table class="table table-hover mb-0 custom-table">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Title</th>
          <th scope="col">Type</th>
          <th scope="col">Last Updated</th>
          <th scope="col">Fields</th>
          <th scope="col">Status</th>
        </tr>
      </thead>
      <tbody>
        <tr
          *ngFor="let item of filteredItems; let x = index"
          [class.inactive-background]="item.active === 'N'"
          [class.hover-effect-active]="
            hoveredRowIndex === x && item.active === 'Y'
          "
          [class.hover-effect-inactive]="
            hoveredRowIndex === x && item.active === 'N'
          "
        >
          <th scope="row">{{ x + 1 }}</th>
          <td role="button">
            <button
              (click)="gettingformProperties(item)"
              class="btn btn-link"
              type="button"
            >
              {{ item.title }}
            </button>
          </td>
          <!-- <td><a role="button" (click)="gettingformProperties(item)"
                            style="cursor: pointer; color: rgb(0, 0, 255);">{{ item.title }}</a></td> -->
          <td>{{ item.ft }}</td>
          <td>{{ item.formatted_last_updated }}</td>
          <td>
            <a
              *ngIf="item.active === 'Y'"
              role="button"
              (click)="getforminfo(item)"
              style="cursor: pointer; color: rgb(0, 0, 255)"
              >{{ item.field_count }}</a
            >
            <span *ngIf="item.active !== 'Y'">{{ item.field_count }}</span>
          </td>
          <td>
            <div class="button-container">
              <button
                *ngIf="item.active === 'Y'"
                type="button"
                style="
                  width: 100px;
                  padding: 5px 10px;
                  font-size: 16px;
                  height: 40px;
                "
                class="btn btn-primary round-button"
                (click)="deactivateForm(item)"
                (mouseenter)="setHoveredRowIndex(x)"
                (mouseleave)="setHoveredRowIndex(null)"
              >
                Inactivate
              </button>
              <button
                *ngIf="item.active === 'N'"
                style="
                  width: 100px;
                  padding: 5px 10px;
                  font-size: 16px;
                  height: 40px;
                "
                type="button"
                class="btn btn-danger round-button"
                (click)="activateForm(item)"
                (mouseenter)="setHoveredRowIndex(x)"
                (mouseleave)="setHoveredRowIndex(null)"
              >
                Activate
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </mat-card>
</div>

<!-- /////////////////////ToggleView//////////// -->
<div *ngIf="toggelView && !showForms">
  <div *ngIf="formtitle">
    <mat-card class="header">
      <mat-card-title>
        {{ formtitle }}
      </mat-card-title>
    </mat-card>
  </div>
  <div>
    <!-- <button type="button" class="btn btn-outline-warning pull-right" (click)="showaddModal()">Add NewForm</button> -->
    <button
      type="button"
      class="btn btn-primary"
      (click)="showAddnewfeild()"
      style="margin-right: 10px; margin-top: 10px; margin-bottom: 10px"
    >
      Add New Field
    </button>
    <button
      type="button"
      class="btn btn-primary"
      (click)="toggleDiv()"
      style="margin-right: 10px; margin-top: 10px; margin-bottom: 10px"
    >
      Form List
    </button>
    <button
      type="button"
      class="btn btn-primary"
      style="margin-top: 10px; margin-bottom: 10px"
      (click)="viewFormPattern()"
    >
      Preview
    </button>

    <!-- <div class="table-wrapper-scroll-y my-custom-scrollbar"></div> -->
    <table class="table table-hover mb-0 custom-table">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Title</th>
          <th scope="col">Type</th>
          <th scope="col">Fieldtype</th>
          <!-- <th scope="col">Edit</th> -->
          <th scope="col">Options</th>
          <th scope="col">Order</th>
          <!-- <th scope="col">ChangePosition</th> -->
          <!-- <th scope="col">Status</th> -->
          <th scope="col">Status</th>
        </tr>
      </thead>
      <tbody>
        <tr
          *ngFor="let item of ql; let x = index"
          [class.inactive-background]="item.status === 'N'"
          [class.hover-effect-active]="item.status === 'N'"
          [class.hover-effect-inactive]="item.status === 'Y'"
        >
          <th scope="row">{{ x + 1 }}</th>
          <td>
            <a
              role="button"
              (click)="gettingFieldInfo(item)"
              style="cursor: pointer; color: blue"
              >{{ item.fieldtitle }}</a
            >
          </td>
          <td>{{ item.field_type }}</td>
          <td>{{ item.fft }}</td>
          <td>
            <a
              role="button"
              [disabled]="
                item.field_type === 'text_field' ||
                item.field_type === 'date' ||
                item.field_type === 'rating' ||
                item.field_type === 'exist_question' ||
                item.field_type === 'form' ||
                item.field_type === 'bar_code' ||
                item.field_type === 'image'
              "
              (click)="
                item.field_type !== 'text_field' &&
                  item.field_type !== 'date' &&
                  item.field_type !== 'rating' &&
                  item.field_type !== 'exist_question' &&
                  item.field_type !== 'form' &&
                  item.field_type !== 'bar_code' &&
                  item.field_type !== 'image' &&
                  gettingFieldValue(item)
              "
               [ngClass]="{'disabled': item.field_type === 'form'}"
              style="cursor: pointer; color: blue"
              (click)="item.field_type === 'form' && showsubmitFormModal(item)"
            >
              {{
                ["text_field", "date", "image", "exist_question"].includes(
                  item.field_type
                )
                  ? 0
                  : item.options
              }}
            </a>
          </td>
          <!-- <td>{{ item.order_id}}</td> -->
          <td>
            {{ x + 1 }}
            <!-- {{ item.order_id }} -->
            <div class="button-container">
              <button
                type="button"
                style="border: none"
                [disabled]="item.status === 'N'"
                (click)="changefeildPosition(item, 'up')"
              >
                🔼
              </button>
              <button
                type="button"
                style="border: none"
                [disabled]="item.status === 'N'"
                (click)="changefeildPosition(item, 'down')"
              >
                🔽
              </button>
            </div>
          </td>
          <td>
            <div class="button-container">
              <button
                *ngIf="item.status === 'Y'"
                type="button"
                class="btn btn-primary round-button"
                style="
                  width: 100px;
                  padding: 5px 10px;
                  font-size: 16px;
                  height: 40px;
                "
                (click)="deActivateField(item)"
              >
                Inactivate
              </button>
              <button
                *ngIf="item.status === 'N'"
                type="button"
                class="btn btn-danger round-button"
                style="
                  width: 100px;
                  padding: 5px 10px;
                  font-size: 16px;
                  height: 40px;
                "
                (click)="activateField(item)"
              >
                Activate
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<!-- ////////////////////FieldProperties/////////// -->
<div
  bsModal
  #AddModalSample="bs-modal"
  class="modal fade"
  tabindex="-1"
  role="dialog"
  aria-labelledby="two-button-modal"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="modal-title">{{ formtitle }}</h2>
        <!-- Added modal-title class -->
        <button
          type="button"
          class="close pull-right"
          aria-label="Close"
          (click)="hideFieldProperties()"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form [formGroup]="fieldProperties" enctype="multipart/form-data">
          <div class="form-group">
            <!-- Added form-group class -->
            <label for="title">Title:</label>
            <input
              type="text"
              id="title"
              formControlName="title"
              class="form-control"
            />
            <!-- Added form-control class -->
            <div
              *ngIf="
                fieldProperties.get('title').hasError('required') &&
                fieldProperties.get('title').touched
              "
              class="text-danger"
            >
              Title is required.
            </div>
            <div
              *ngIf="
                fieldProperties.get('title').hasError('maxlength') &&
                fieldProperties.get('title').touched
              "
              class="text-danger"
            >
              Title cannot exceed 50 characters.
            </div>
          </div>

          <div
            *ngIf="
              fieldProperties &&
              fieldProperties.get('fieldType') &&
              fieldProperties.get('fieldType').value !== 'single_selection' &&
              fieldProperties.get('fieldType').value !== 'multi_selection'
            "
          >
            <div class="form-group">
              <label for="minLength">Min Length:</label>
              <input
                type="number"
                id="minLength"
                formControlName="minLength"
                class="form-control"
              />
              <div
                *ngIf="
                  fieldProperties.get('minLength').hasError('required') &&
                  fieldProperties.get('minLength').touched
                "
                class="text-danger"
              >
                Min Length is required.
              </div>
            </div>
            <div class="form-group">
              <label for="fieldLength">Field Length:</label>
              <input
                type="number"
                id="fieldLength"
                formControlName="fieldLength"
                class="form-control"
              />
              <div
                *ngIf="
                  fieldProperties.get('fieldLength').hasError('required') &&
                  fieldProperties.get('fieldLength').touched
                "
                class="text-danger"
              >
                Field Length is required.
              </div>
            </div>
          </div>

          <div
            *ngIf="
              fieldProperties.get('fieldType').value === 'single_selection' ||
              fieldProperties.get('fieldType').value === 'multi_selection'
            "
            class="form-group"
          >
            <label for="fieldType">Field Type:</label>
            <select
              id="fieldType"
              formControlName="fieldType"
              class="form-control"
            >
              <option disabled selected value="">Select Data Type</option>
              <option *ngFor="let i of list" [value]="i">{{ i }}</option>
            </select>
            <div
              *ngIf="
                fieldProperties.get('fieldType').hasError('required') &&
                fieldProperties.get('fieldType').touched
              "
              class="text-danger"
            >
              Select Appropriate FieldType
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button
          (click)="updatingFieldInfo(fieldProperties.value)"
          class="btn btn-primary"
          [disabled]="!fieldProperties.valid"
        >
          Upload
        </button>
      </div>
    </div>
  </div>
</div>
<!-- //////////////FormProperties///////////// -->
<div
  bsModal
  #FormPropertiesModal="bs-modal"
  class="modal fade"
  tabindex="-1"
  [config]="{ backdrop: 'static', keyboard: false }"
  role="dialog"
  aria-labelledby="two-button-modal"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h1>{{ propFormTitle }}</h1>
        <button
          type="button"
          class="close pull-right"
          aria-label="Close"
          (click)="hideFormProperties()"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form [formGroup]="formProperties" enctype="multipart/form-data">
          <div class="form-group">
            <label for="campaign">Form Type:</label>
            <select
              id="formType"
              formControlName="formType"
              class="form-control"
            >
              <option
                disabled
                [selected]="!formProperties.get('formType').value"
                value=""
              >
                Select Form Type
              </option>
              <option *ngFor="let field of formtypes" [value]="field.title">
                {{ field.title }}
              </option>
            </select>
            <div
              *ngIf="
                formProperties.get('formType').hasError('required') &&
                formProperties.get('formType').touched
              "
            >
              Form Type is required.
            </div>
          </div>

          <div class="form-group">
            <label for="brand">Title:</label>
            <input
              type="text"
              id="title"
              formControlName="title"
              class="form-control"
            />
            <div
              *ngIf="
                formProperties.get('title').hasError('required') &&
                formProperties.get('title').touched
              "
            >
              Title is required.
            </div>
            <div
              *ngIf="
                formProperties.get('title').hasError('maxlength') &&
                formProperties.get('title').touched
              "
            >
              Title cannot exceed 50 characters.
            </div>
          </div>

          <div class="form-group">
            <label for="campaign">Select Campaign:</label>
            <select
              id="campaign"
              formControlName="campaignId"
              class="form-control"
            >
              <option
                disabled
                [selected]="!formProperties.get('campaignId').value"
                value=""
              >
                Select Campaign
              </option>
              <option *ngFor="let campaign of Campaigns" [value]="campaign.id">
                {{ campaign.title }}
              </option>
            </select>
          </div>

          <div class="form-group">
            <label for="brand">Select Brand:</label>
            <select id="brand" formControlName="brandId" class="form-control">
              <option
                disabled
                [selected]="!formProperties.get('brandId').value"
                value=""
              >
                Select Brand
              </option>
              <option *ngFor="let brand of Brands" [value]="brand.id">
                {{ brand.title }}
              </option>
            </select>
          </div>
        </form>
      </div>

      <div class="modal-footer">
        <button
          (click)="updatingFormProperties(formProperties.value)"
          class="mr-1"
          [disabled]="!formProperties.valid"
          mat-raised-button
          color="primary"
        >
          Save
        </button>
      </div>
    </div>
  </div>
</div>
<!-- /////////////AddForm///// -->

<div
  bsModal
  #AddModal="bs-modal"
  class="modal fade"
  tabindex="-1"
  role="dialog"
  aria-labelledby="two-button-modal"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">ADD SCREEN</h4>
        <button
          type="button"
          class="close pull-right"
          aria-label="Close"
          (click)="closeaddModal()"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <!-- Add title here -->
        <input
          type="text"
          class="form-control"
          placeholder="Enter your Form Name"
          [(ngModel)]="ft"
        />
      </div>
      <div class="modal-body" *ngIf="ft">
        <div class="form-group">
          <label for="dataType">Select Data Type:</label>
          <select
            id="dataType"
            [(ngModel)]="selectedFormType"
            name="dataType"
            class="form-control"
          >
            <option disabled [selected]="!selectedFormType" value="">
              Select Data Type
            </option>
            <option *ngFor="let field of formtypes" [value]="field.title">
              {{ field.title }}
            </option>
          </select>
        </div>
        <div class="form-group">
          <label for="campaign">Select Campaign:</label>
          <select
            id="campaign"
            class="form-control"
            [(ngModel)]="selectedCampaignId"
          >
            <option disabled [selected]="!selectedCampaignId" value="">
              Select Campaign
            </option>
            <option *ngFor="let campaign of Campaigns" [value]="campaign.id">
              {{ campaign.title }}
            </option>
          </select>
        </div>
        <div class="form-group">
          <label for="brand">Select Brand:</label>
          <select id="brand" class="form-control" [(ngModel)]="selectedBrandId">
            <option disabled [selected]="!selectedBrandId" value="">
              Select Brand
            </option>
            <option *ngFor="let brand of Brands" [value]="brand.id">
              {{ brand.title }}
            </option>
          </select>
        </div>
      </div>

      <div
        class="modal-footer"
        *ngIf="ft && selectedFormType && selectedCampaignId && selectedBrandId"
      >
        <!-- Button only appears when all requirements are completed -->
        <button type="button" class="btn btn-primary" (click)="addform()">
          Add New Form
        </button>
      </div>
    </div>
  </div>
</div>
<!-- ////////////AddFieldModal///////////// -->

<div bsModal #AddNewFeildModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" [config]="{ backdrop: 'static', keyboard: false }" aria-labelledby="two-button-modal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h1>{{ formtitle }}</h1>
        <button type="button" class="close pull-right" aria-label="Close" (click)="hideAddnewfeild()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <label for="newFieldTitle">Add Field:</label>
          <input type="text" class="form-control" id="newFieldTitle" placeholder="Enter your Question" [(ngModel)]="newFieldtitle" />
        </div>
        <div *ngIf="newFieldtitle" class="form-group">
          <label for="newFeildType">Select Data Type:</label>
          <select [(ngModel)]="newfeildtype" (change)="updateOptions()" class="form-control">
            <option disabled selected value="">Select Data Type</option>
            <option *ngFor="let field of fieldOptions" [value]="field.fieldType">{{ field.fieldType }}</option>
          </select>
        </div>
        <!-- Add conditional fields here as needed based on newfeildtype -->
        <!-- Example for rating -->
        <div *ngIf="newfeildtype === 'rating'" class="form-group">
          <label for="ratingValue">Rating Value:</label>
          <input type="number" class="form-control" id="ratingValue" placeholder="Enter rating value" [(ngModel)]="ratingValue" />
        </div>
        <!-- Continue with other conditional fields -->
        <!-- Input type for text_field -->
        <div *ngIf="newfeildtype === 'text_field' || newfeildtype == 'bar_code' || newfeildtype == 'switch_type'" class="form-group">
          <label for="textFieldType">Data Type:</label>
          <select [(ngModel)]="textFieldType" class="form-control" id="textFieldType">
            <option value="numeric">Numeric</option>
            <option value="alphabetic">Alphabetic</option>
          </select>
        </div>
        <!-- Input type for date -->
        <div *ngIf="newfeildtype === 'date'" class="form-group">
          <label for="dateValue">Select Date:</label>
          <input type="date" class="form-control" id="dateValue" [(ngModel)]="dateValue" />
        </div>
      
        <!-- Options input for other field types -->
        <div
          *ngIf="
            newfeildtype !== 'form' &&
            newfeildtype !== 'text_field' &&
            newfeildtype !== 'bar_code' &&
            newfeildtype !== 'switch_type' &&
            newfeildtype !== 'image' &&
            newfeildtype !== 'Select Data Type' &&
            newfeildtype !== 'rating' &&
            newfeildtype !== 'date'  &&
            newfeildtype !== 'multi_text'  &&
            newfeildtype !== 'exist_question'  &&
            newfeildtype !== 'form_value'  &&
            newfeildtype
          "
        >
          <div class="form-group">
            <label for="numberOfOptions">Number of Options:</label>
            <input
              type="number"
              class="form-control"
              id="numberOfOptions"
              [value]="options.length" 
              readonly
            />
          </div>
          <!-- Button to trigger option creation -->
          <button type="button" class="btn btn-primary" (click)="addOption()">
            Add Option
          </button>
          <div *ngFor="let option of options; let i = index" class="form-group">
            <label for="option{{ i + 1 }}">Option {{ i + 1 }}:</label>
            <input
              type="text"
              class="form-control"
              id="option{{ i + 1 }}"
              [(ngModel)]="option.value"
            />
            <button
              type="button"
              class="btn btn-danger"
              (click)="removeOption(i)"
            >
              Remove
            </button>
          </div>
        </div>
      </div>
      <!-- Closing modal-body div -->
      <div class="modal-footer">
        <!-- Add button placed inside modal footer -->
        <button type="button" class="btn btn-primary" (click)="addFields()">
          Add
        </button>
      </div>
    </div>
  </div>
</div>



<!-- ////////////////LogicModal////////// -->

<div
  bsModal
  #logicModal="bs-modal"
  class="modal fade"
  tabindex="-1"
  role="dialog"
  aria-labelledby="two-button-modal"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h3>{{ formtitle }}</h3>
        <button
          type="button"
          class="close pull-right"
          aria-label="Close"
          (click)="closeLogicModal()"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form enctype="multipart/form-data">
          <div class="form-group">
            <label for="formType">Go where:</label>
            <select
              class="form-control"
              [(ngModel)]="selectedField"
              name="selectedField"
            >
              <option disabled [ngValue]="null" [selected]="!selectedField">
                Select
              </option>
              <option *ngFor="let field of logicFields" [ngValue]="field">
                {{ field.title }}
              </option>
            </select>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="applyLogic()">
          Save
        </button>
      </div>
    </div>
  </div>
</div>
<!-- ///////////////Option Values////////// -->

<div
  bsModal
  #FvModal="bs-modal"
  class="modal fade"
  tabindex="-1"
  role="dialog"
  aria-labelledby="two-button-modal"
  [config]="{ backdrop: 'static', keyboard: false }"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 id="dialog-child-name" class="modal-title">{{ fieldTitle }}</h4>
        <button
          type="button"
          class="close pull-right"
          aria-label="Close"
          (click)="hideFv()"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <mat-card style="padding: 0px;">
        <!-- <i [ngClass]="{ 'fa fa-cog': !loadingData, 'fa fa-cog fa-spin': loadingData }"></i> -->
        <ng-container *ngIf="ff && ff.length > 0">
          <button class="btn btn-primary" (click)="sc(ff, 'add')">Add</button>
          <table class="table table-bordered table-hover mb-0 custom-table">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Title</th>
                <th scope="col">OrderId</th>
                <th scope="col">Selected</th>
                <th scope="col">Child</th>
                <th scope="col">Status</th>
                <!-- <th scope="col">Logic</th>  -->
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of ff; let x = index">
                <th scope="row">{{ x + 1 }}</th>
                <td>
                  <!-- <div *ngIf="ffDataType !== 'multi_selection'"> -->
                    <div>
                    <a
                      role="button"
                      (click)="logicFieldList(item)"
                      style="cursor: pointer; color: blue"
                      >{{ item.title }}</a
                    >
                  </div>
                  <!-- <div *ngIf="ffDataType === 'multi_selection'">
                    {{ item.title }}
                  </div> -->
                </td>
                <td>{{ item.order_id }}</td>
                
                <td>
                  <select class="custom-dropdown" [(ngModel)]="item.selected" (change)="handleChange(item)">
                    <option value="Y">Y</option>
                    <option value="N">N</option>
                  </select>
                </td>
                
                <td>
                  <h6 *ngIf="item.child !== null && item.child !== undefined">
                    {{ item.child }}
                  </h6>
                  <h6 *ngIf="item.child === null || item.child === undefined">
                    Null
                  </h6>
                </td>
                <td>
                  <div class="button-container">
                    <button
                      *ngIf="item.active === 'Y'"
                      type="button"
                      style="
                        width: 100px;
                        padding: 5px 10px;
                        font-size: 16px;
                        height: 40px;
                      "
                      class="btn btn-primary round-button"
                      (click)="deActivateFieldValue(item)"
                      (mouseenter)="setHoveredRowIndex(x)"
                      (mouseleave)="setHoveredRowIndex(null)"
                    >
                      Inactive
                    </button>
                    <button
                      *ngIf="item.active === 'N'"
                      type="button"
                      style="
                        width: 100px;
                        padding: 5px 10px;
                        font-size: 16px;
                        height: 40px;
                      "
                      class="btn btn-danger round-button"
                      (click)="activateFieldValue(item)"
                      (mouseenter)="setHoveredRowIndex(x)"
                      (mouseleave)="setHoveredRowIndex(null)"
                    >
                      Active
                    </button>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </ng-container>
        <ng-container *ngIf="!ff || ff.length === 0">
          <p>No items available.</p>
          <!-- Optionally display a message or handle the case where ff is empty -->
        </ng-container>
      </mat-card>
    </div>
  </div>
</div>

<!-- ////////////////Add Values////// -->

<div
  bsModal
  #CaptureModal="bs-modal"
  class="modal fade"
  tabindex="-1"
  role="dialog"
  aria-labelledby="two-button-modal"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h3>{{ fieldTitle }}</h3>
        <button
          type="button"
          class="close pull-right"
          aria-label="Close"
          (click)="hc()"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <label for="fieldValueInput">Field Value Title:</label>
        <input
          type="text"
          id="fieldValueInput"
          class="form-control"
          placeholder="Enter your Field Value"
          [(ngModel)]="naam"
        />
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-primary"
          (click)="addFieldValueWithPrompt(item, op)"
        >
          Save
        </button>
      </div>
    </div>
  </div>
</div>
<!-- /////////////////Question Preview////// -->

<div *ngIf="objg && !toggelView && !showForms" style="height: 300px">
  <button type="button" class="btn btn-primary" (click)="gobutton()">Preview</button>

  <div *ngFor="let item of objg; let i = index; trackBy: trackByFn" class="question-container">
    <ng-container *ngIf="item.fieldtype !== 'CHILD'">
      <div class="question">
        <span class="question-label">Question {{ i + 1 }}:</span>
        {{ item.feildtitle }}
      </div>

      <!-- Multi-selection (checkboxes) with child questions -->
      <div *ngIf="item.datatype === 'multi_selection' && item.fieldtype === 'NORMAL'" class="answers">
        <div *ngFor="let itemId of item.formvalue_titles; let j = index">
          <label for="{{ item.itemId }}_checkbox{{ j + 1 }}" class="answer-label">{{ itemId }}</label>
          <input 
            type="checkbox" 
            id="{{ item.itemId }}_checkbox{{ j + 1 }}" 
            (change)="onNestedRadioChange1(item, j, i)" 
          />
        </div>

        <!-- Display child questions for multi_selection items -->
        <div *ngFor="let ob of objr; let k = index">
          <div *ngIf="ob.ffid === item.formfeild_id">
            <span class="question-label">Child Question:</span>
            {{ ob.field }}

            <!-- Inner single_selection (radio buttons) -->
            <div *ngIf="ob.datatype === 'single_selection'" class="answers">
              <div *ngFor="let data of ob.field_values.split(','); let j = index">
                <label for="{{ ob.field }}_radio{{ j + 1 }}" class="answer-label">{{ data }}</label>
                <input 
                  type="radio" 
                  id="{{ ob.field }}_radio{{ j + 1 }}" 
                  name="{{ ob.field }}_radioGroup" 
                  (change)="onNestedRadioChange(ob,j)" 
                />
              </div>
            </div>

            <!-- Inner multi_selection (checkboxes) -->
            <div *ngIf="ob.datatype === 'multi_selection'" class="answers">
              <div *ngFor="let data of ob.field_values.split(','); let j = index">
                <label for="{{ ob.field }}_checkbox{{ j + 1 }}" class="answer-label">{{ data }}</label>
                <input type="checkbox" id="{{ ob.field }}_checkbox{{ j + 1 }}" />
              </div>
            </div>

            <!-- Inner other input types (text, image, date, form) -->
            <div *ngIf="['text_field', 'image', 'form', 'date'].includes(ob.datatype)" class="answers">
              <input *ngIf="ob.datatype === 'text_field'" type="text" placeholder="Enter Answer" />
              <input *ngIf="ob.datatype === 'image'" type="file" placeholder="Select Image" />
              <button *ngIf="ob.datatype === 'form'" type="submit">Submit</button>
              <div *ngIf="ob.datatype === 'date'" class="date-input-container">
                <input type="date" />
                <i class="fas fa-calendar-alt" (click)="openDatePicker()"></i>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Other input types (single selection, text, image, date, form) for normal fieldtypes -->
      <div *ngIf="item.datatype !== 'multi_selection' && item.fieldtype === 'NORMAL'" class="answers">
        <!-- Single selection (radio buttons) -->
        <div *ngIf="item.datatype === 'single_selection'" class="answers">
          <div *ngFor="let itemId of item.formvalue_titles; let j = index">
            <label for="{{ item.itemId }}_radio{{ j + 1 }}" class="answer-label">{{ itemId }}</label>
            <input 
              type="radio" 
              id="{{ item.itemId }}_radio{{ j + 1 }}" 
              name="{{ item.itemId }}_radioGroup" 
              (change)="onRadioChange(item, j, i)" 
            />
          </div>
        </div>

        <!-- Other input types (text, image, date, form) -->
        <input *ngIf="item.datatype === 'text_field'" type="text" placeholder="Enter Answer" />
        <input *ngIf="item.datatype === 'image'" type="file" placeholder="Select Image" />
        <button *ngIf="item.datatype === 'form'" type="submit">Submit</button>
        <div *ngIf="item.datatype === 'date'" class="date-input-container">
          <input type="date" />
        </div>
      </div>
    </ng-container>
  </div>
</div>


                                            <!-- Submit Form  -->
<div bsModal #submitForm="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="two-button-modal" [config]="{ backdrop: 'static', keyboard: false }">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Select Form</h5>
        <button type="button" class="close" aria-label="Close" (click)="closesubmitFormModal()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <label for="actionSelect">Action:</label>
          <select [(ngModel)]="selectedAction" class="form-control" id="actionSelect">
            <option value="exit">Exit</option>
            <option value="move_to">Move to</option>
          </select>
        </div>
        <div *ngIf="selectedAction === 'move_to'" class="form-group">
          <label for="formSelect">Select Form:</label>
          <select [(ngModel)]="selectedFormId" class="form-control" id="formSelect">
            <option value="-1">Select Form</option>
            <option *ngFor="let form of obj" [value]="form.id">{{ form.title }}</option>
          </select>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="submit()">Submit</button>
      </div>
    </div>
  </div>
</div>










